.modal-body {
    font-family: 'Roboto-Condensed', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
    margin-bottom: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

#conditionText .crossy
{
    position: relative;
    top: 3px;
    right: 5px;
    opacity: unset;
}

.modal-backdrop {
    z-index: unset !important;
}