/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
.login-info img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    border-left: none;
}
.login-info .title {
    padding: 5px 0 0 9px;
}
body{
    font-family: FregatRegular;
    min-width: 340px;
}

.flex{
    display: flex;
}

.flex .pull-right{
    margin-left: auto;
}

@media screen and (max-width: 340px){
    body {
        zoom: 0.9!important;
    }
}

#logo {
    margin-top: 10px;
}
#header #logo-group {
    width: auto;
}
.top-items {
    margin-top: 10px;
    font-size: 16px;
    margin-left: 50px;
    line-height: 30px;
}
.top-items a{
    color: #333;
}

.id_low_size_logo{
    display: none;
}
.table-action-menu{
    position: relative;
    text-align: center;
}
.table-action-menu .dropdown-menu{
    right: 0; left: auto; min-width: 120px;
}

.ColVis{
    display: none;
    position: absolute;
    right: 30px;
    margin-top: -46px;
}
ul.ColVis_collection {
    width: auto;
    right: 10px;
    top: 130px;
    left: auto;
}
.dataTables_length{
    display: none;
}
.page-size-button{
    position: relative;
}
.dt-toolbar-footer{
    /*display: none;*/
    padding: 0;
    background: none;
    border-top: none;
    webkit-box-shadow: inset 0 0px #fff;
    -moz-box-shadow: inset 0 0px #fff;
    -ms-box-shadow: inset 0 0px #fff;
    box-shadow: inset 0 0px #fff;
}
.buttons .btn{
    height: 25px;
    line-height: 12px;
    padding: 6px 12px
}
.smart-form footer {
    display: block;
    padding: 0 15px 0 15px;
    border-top: 0 solid rgba(0,0,0,.1);
    background: none;
    margin-bottom: 30px;
}
.smart-form #user-email{
    padding-right: 110px;
}

.service-option {
    font-size: 14px;
}

.smart-form footer.row {
    margin-top: 15px;
}

#service-image-form footer .btn {
    width: auto;
    padding-left: 10px ;
    padding-right: 10px ;
}

#show-on-map {
    font-size: 15px;
}

.smart-form .label{
    font-size: 14px;
    margin-top: 11px;
}
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    font: 14px/16px 'Open Sans',Helvetica,Arial,sans-serif;
}
@media only screen and (max-width: 680px){
    .widget-icon.ac-buttons{
        display: inline-block;
        padding-right: 10px;
    }
    .buttons{
        margin-top: 20px;
    }
    .buttons.pull-right{
        display: none;
    }
}

@media only screen and (max-width: 680px){
    #logo-group {
        padding-left: 5px;
        width: auto;
    }
    #logo-group #logo{
        display: none;
        width: 0px;;
    }
    .id_low_size_logo{
        display: block;
    }
    .top-items {
        margin-top: 12px;
    }
}
@media only screen and (max-width: 479px){
    #logo-group {
        padding-left: 5px;
        width: auto;
    }
    #logo{
        display: none;
        width: 0px;
    }
    .top-items {
        line-height: 30px;
        margin-left: 4px;
    }
    .id_low_size_logo{
        display: block;
    }
}

#new-company {
    display: none;
}

.file-input .file-drop-zone {
    border: none;
    min-height: 150px;
}

.file-input .kv-file-upload {
    display: none;
}

.file-input .file-drop-zone-title {
    line-height: 6em;
}

.file-caption-main .file-caption {
    box-sizing: border-box;
}

.file-caption-main .btn {
    padding: 6px 12px;
}

.file-caption-main .file-caption {
    color: transparent;
}

.help-block-error {
    color: #b94a48;
}

.user-image {
    margin-top: -50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.breadcrumb > li + li::before {
padding: 0 5px 0 0;
color: #ccc;
content: ":\ :";
}

#btn-map {
    /*position: absolute;*/
    /*right: 30px;*/
    /*font-size: 15px;*/
    /*top: 30px;*/
}
.create-url, .link-input {
    position: absolute;
    right: 30px;
    font-size: 15px;
    top: 30px;
}

@media only screen and (max-width: 680px){
    #btn-map, .create-url, .link-input {
        margin: 0 0 0 0;
    }
}

.fileinput-upload-button {
    display: none;
}

#clone-service {
    /*display: none;*/
}

.form-container header {
    padding: 0;
    padding-top: 20px;
    margin-bottom: -30px;
}

.form-container header.header {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    margin-bottom: 0;
}

.form-container header.header .form-group {
    margin-bottom: 0;
}

.image-cropper {
    display: none;
}

/* Add style */
.buttons-block-ch {
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.buttons-block-ch div {
    float: right;
    margin-bottom: 15px;
}

    /* hide for label yandex map */
.gm-svpc{
    display: none;
}

label.map span{
    margin-bottom: 5px;
    display: block;
}
.ac-buttons{
    padding-right: 5px;
}
.ac-buttons .txt-color-black{
    background-color: #f8f8f8;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    font-weight: 700;
    line-height: 24px;
    min-width: 30px;
    padding: 2px;
    text-align: center;
    text-decoration: none ;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #bfbfbf;
    color: #6D6A69;
    font-size: 17px;
    margin: 10px 0 0;
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    width: 36px;
    height: 32px;
    padding-top: 4px;
    margin-bottom: 3px;
}

.field-service-is_popular .pull-left{
    margin-bottom: 10px;
}

#left-panel li a {
    padding-left: 15px;
}

#left-panel li span {
    margin-left: 10px;
}

#password-form-modal {
    float: right;
    font-size: 15px;
}

.right-label a {
    position: absolute;
    right: 10px;
    top: 35px;
    line-height: 15px;
    font-size: 14px;
    border-bottom: 1px dotted #3276b1;
}

.send-code a {
    position: absolute;
    right: 10px;
    top: 30px;
    font-size: 14px;
}

#user-form .buttons-block-ch {
    margin-top: 0;
}

footer .form-group {
    float: left;
    padding-top: 15px;
}

#company-form .buttons-block-ch {
    margin-top: 0;
}

.select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove {
    font-size: 0;
}

.options {
    margin-top: -15px;
    font-size: 14px;
}

#service-form .image {
    padding-top: 0;
    margin-bottom: -35px;
}

#service-type-form footer,
#char-form footer,
#region-form footer {
    margin-bottom: 5px;
}

#service-type-form footer .buttons-block-ch,
#unit-form .buttons-block-ch,
#region-form .buttons-block-ch,
#locality-form .buttons-block-ch,
#quick-search-form .buttons-block-ch,
#service-form .buttons-block-ch {
    margin-top: 0;
}

#char-form .options {
    padding-top: 10px;
    margin-bottom: 0;
}

#value-form .buttons-block-ch {
    margin-top: 10px;
}

#left-panel {
    padding-top: 48px;
}

.region-map {
    font-size: 15px;
    top: 55px ;
}

#quick-search-form footer {
    padding: 0;
}



.profile-left, .profile-right, .profile-left .btn, .profile-right .btn{
    font-size: 14px;
}

.profile-right h3 .btn{
    margin-bottom: 5px;
}

.profile-cont {
    margin-bottom: 5px;
}
.profile-cont h3 {
    margin: 0px 0px 1px 0px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
}

.nowrap-ellipsis{
    margin-right: 7px;  
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
span.nowrap-ellipsis, i.nowrap-ellipsis, b.nowrap-ellipsis{
    display: inline-block;
}

.profile-left{
    text-align: center;
}
.profile-info{
    margin-top: 25px;
    margin-bottom: 25px;
}
.profile-left-info{
    display: inline-block;
}
.profile-left-img{
    margin-bottom: 10px;
}
.profile-left-img img{
    border: 6px solid #fff;
    background: #fff;
}
.profile-left-info img {
    max-width: 180px;
    max-height: 190px;
}
.buttons .change-password {
    width: 100%;
}

.profile-services{
    margin-top: 5px;
}

.profile-service {
    position: relative;
    border: 1px solid #eee;
    margin-bottom: 10px;
    width: 260px;
    height: 306px;
    padding-bottom: 80px;
}
.profile-service .bottom {
    width: 100%;
    padding: 5px 10px 10px 10px;
    position: absolute;
    bottom: 0;
    background: #fff;
}
.profile-service .bottom:before{
    content: "";
    width: 100%;
    display: block;
    border-top: 1px solid #eee;
    margin-bottom: 5px;
}
.profile-service .bottom > div {
    margin-bottom: 5px;
}
.profile-service .image {
    position: relative;
    text-align: center;
}
.profile-service .image span {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0px 5px;
    background: #fff;
}
.profile-service .image img {
    max-width: 100%;
    height: 176px;
}
.profile-service .name {
    padding: 5px 10px;
}
table.profile-company td.profile-company-info {
    width: 150px;
}
.profile-company tbody{
    vertical-align: top;
}

@media screen and (min-width: 1200px){
    .profile-services > div:nth-child(2n) .profile-service{
        margin: 0 auto;
    }
    .profile-services > div:nth-child(3n) .profile-service{
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .profile-services > div:nth-child(2n) .profile-service{
        margin-left: auto;
    }
}

@media screen and (max-width: 768px){
    .profile-service {
        margin: 0 auto;
    }
}





.profile-right{
    padding-left: 0;
    line-height: 1.7;
}

.profile-right h3{
    font-weight: bold;
}

.profile-right .name{
    line-height: 1;
    height: 47px;
    overflow: hidden;
}

.profile-left .buttons{
    margin: 0 5px 0 8px;
    margin-top: -130px;
}

.profile-left img, .profile-left a.btn{
    max-width: 100%;
}

.profile-service .bottom .btn {
    vertical-align: top;
    max-width: 46%;
    min-width: 0;
    margin: 0;
    margin-left: -1px;
    width: 100%;
    text-align: center;
    padding: 6px 0;
}


.profile-service .bottom{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile-service div{
    width: 100%;
}

.profile-service .bottom a:last-child{
    margin-left: 5%;
    float: right;
}

.profile-service .bottom b{
    font-size: 15px;
}

@media screen and (max-width: 768px){
    .profile-right{
        padding-left: 13px;
    }
    .profile-service{
        height: initial;
        margin-bottom: 30px;
    }
    .profile-service .image{
        text-align: center;
        padding-bottom: 35px;
    }
    .profile-service .image img{
        max-width: 100%;
        width: initial;
        max-height: 300px;
        height: initial;
    }
}




.crop-image-upload-container img {
    max-width: 400px;
}

.filters .form-control {
    width: 100%;
}

#profile-banner {
    width: 100%;
    max-height: 195px;
    margin-bottom: 15px;
}

section.form-checkbox label.checkbox {
    margin-bottom: 10px;
}
.field-inviteuser-send_sms {
    margin-right: 10px;
}

.top-items a {
    border-bottom: 1px dashed #333;
}
#logo a {
    border-bottom: none;
}

header .buttons-invite {
    margin-top: 0px;
    z-index: 910;
    position: absolute;
    right: 14px;
}
header .buttons .dropdown-menu {
    left: auto;
    right: 0;
}

.smart-form fieldset.service-price-desc {
    padding-top: 0px;
}

.kv-editable-form textarea {
    resize: none;
    min-height: 100px;
}

.kv-editable-form [type="text"] {
    margin-bottom: 20px;
}

.kv-editable-parent .kv-editable-input {
    display: none;
}

#settings .group {
    font-weight: bold;
    font-size: 14px;
}

#settings .kv-editable {
    width: 100%;
}

#change-password-modal .modal-footer .btn, #modal-user-invite .modal-footer .btn {
    width: 83px;
}

.smart-form .select select.ui-autocomplete-loading {
    background-image: url(../img/select2-spinner.gif)!important;
    background-repeat: no-repeat;
    background-position: right 25px center;
    padding-right: 27px;
}
.smart-form .textarea textarea.textarea-resize {
    resize: vertical;
}