/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "FregatRegular"; */
@font-face {
    font-family: "FregatRegular";
    src: url("../fonts/FregatRegular/FregatRegular.eot");
    src: url("../fonts/FregatRegular/FregatRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FregatRegular/FregatRegular.woff") format("woff"),
    url("../fonts/FregatRegular/FregatRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "FregatBold"; */
@font-face {
    font-family: "FregatBold";
    src: url("../fonts/FregatBold/FregatBold.eot");
    src: url("../fonts/FregatBold/FregatBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FregatBold/FregatBold.woff") format("woff"),
    url("../fonts/FregatBold/FregatBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "FregatItalic"; */
@font-face {
    font-family: "FregatItalic";
    src: url("../fonts/FregatItalic/FregatItalic.eot");
    src: url("../fonts/FregatItalic/FregatItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FregatItalic/FregatItalic.woff") format("woff"),
    url("../fonts/FregatItalic/FregatItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "FregatBoldItalic"; */
@font-face {
    font-family: "FregatBoldItalic";
    src: url("../fonts/FregatBoldItalic/FregatBoldItalic.eot");
    src: url("../fonts/FregatBoldItalic/FregatBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FregatBoldItalic/FregatBoldItalic.woff") format("woff"),
    url("../fonts/FregatBoldItalic/FregatBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
