body {
    background: #fff;
}

#sparks {
    display: none;
}

.buttons .dropdown-menu {
    top: 22px;
}

header h3 {
    margin-top: 0;
    margin-bottom: 2px !important;
    position: relative;
    font-size: 20px;
}

button a {
    color: black;
}

.imged {
    height: 484px !important;
    background: #ccc;
    border: 1px solid #000;
}

.smart-form .col.col-4 {
    padding-left: 0px;
}

.smart-form footer .btn {
    float: none;
    height: 25px !important;
    line-height: 22px;
    cursor: pointer;
    font-size: 13px;
    margin: 0px;
}
.smart-form footer .btn-footer {
    float: right;
    width: 80px;
    margin: 0 0 0 5px !important;
    padding: 0 !important;
}
.smart-form footer .btn-dropdown {
    width: 80px;
    margin-right: -5px;
    padding: 0 !important;
}
.smart-form footer .dropdown-menu {
    min-width: 0px;
}

#options-grid .btn {
    width: 80px;
    height: 25px;
    cursor: pointer;
    font-size: 13px;
}

#options-grid .btn {
    height: 32px;
    margin-top: 25px;
}

#options-grid .col-md-3 {
    padding-left: 0;
}

hr {
    margin-top: 20px !important;
}

.select2-container-multi .select2-choices .select2-search-choice, .select2-selection__choice {
    padding: 1px 28px 1px 8px !important;
    margin: 4px 0 3px 5px !important;;
}

.select2-display-none, .select2-hidden-accessible {
    display: none !important;
}

#ymap_container {
    overflow: hidden !important;
    width: 100%;
    height: 400px;
    display: block;
    position: relative;
}

.page-footer {
    height: 40px !important;
    padding-top: 10px !important;
}

.fixed-header #header, .fixed-ribbon #ribbon {
    z-index: 910 !important;
}

.smart-form .checkbox input, .smart-form .radio input {
    position: absolute !important;
    left: -9999px !important;
}

#modal-chars .modal-header h3 {
    margin: 0;
}

.smart-form header {
    border-bottom:none; margin: 10px 0 0;padding: 0px 0px;
}

#avatar {
    width: 100%;
    height: 100%;
}

.service-image {
    position: relative;
    display: inline-block;
    width: 150px;
    margin: 0 10px 10px 0;
    border: 2px solid #eee;
}
.service-image img {
    width: 100%;
}
.service-image a {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    text-align: center;
    line-height: 20px;
}
.service-image-save, .service-image-cancel {
    height: 25px !important;
    line-height: 12px;
    padding: 5px 10px;
    display: none;
}
.jcrop-holder {
    float: none;
    margin-bottom: 10px;
}

.service-option .option-items {
    margin-bottom: 5px;
}
.service-option .option-items .option-item {
    margin-bottom: 5px;
}
.service-option .option-group {
    border: 1px solid #BDBDBD;
    padding: 10px;
    margin-bottom: 10px;
}
.service-option .option-group-title {
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #404040;
}
.service-option .option-item-remove {
    color: #337ab7;
    cursor: pointer;
}
.service-option .option-add .option-add-btn {
    border-top: 1px solid #BDBDBD;
    padding: 10px 0 0 20px;
    text-align: right;
}
.service-option .option-add .col {
    margin-bottom: 10px;
}
.service-option .btn {
    width: 80px;
    height: 25px !important;
    line-height: 12px;
    /* height: 31px; */
    margin: 0 0 0 5px !important;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
}
.service-option .option-group-form {
    display: none;
}

#content {
    margin-bottom: 40px;
}
.form-group.order-person-status{
    margin-top:15%;
    position: absolute;
    left:42%;
}