.filters {
    display: none;
}

.filters td {
    /*padding: 6px !important;*/
}

.widget-icon.ac-buttons {
    display:none;
    position: relative;
}

th.action-column {
    width: 1%;
}

#dt_basic {
    width: 100% !important;;
}

#dt_basic td:not(.service-button) {
    max-width: 20px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ColVis_collection li:last-child {
    display: none;
}

.responsiveExpander {
    background: url(/img/plus.png) no-repeat 5px center !important;
}

table.dataTable thead>tr>th {
    padding-right: 9px !important;
}

.buttons {
    margin-top: -5px;
    position: relative;
    z-index: 1;
}

table tbody tr:hover {
    background-color: #ECEFF0 !important;
}
