.not-reset * {
}
.not-reset a:link {
	text-decoration: underline;
	cursor: auto;
}
.not-reset a:visited {
	text-decoration: underline;
	cursor: auto;
}
.not-reset a:link:active {
}
.not-reset a:visited:active {
}
.not-reset address {
  	display: block;
	font-style: italic;
}
.not-reset area {
 	display: none;
}
.not-reset article {
 	display: block;
}
.not-reset aside {
 	display: block;
}
.not-reset b {
 	font-weight: bold;
}
.not-reset bdo {
 	unicode-bidi: bidi-override;
}
.not-reset blockquote {
 	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	margin-right: 40px;
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.not-reset body {
 	display: block;
margin: 8px;
}
.not-reset body:focus {
	outline: none;
}
.not-reset caption {
 	display: table-caption;
	text-align: center;
}
.not-reset cite {
 	font-style: italic;
}
.not-reset code {
 	font-family: monospace;
}
.not-reset col {
 	display: table-column;
}
.not-reset colgroup {
 	display: table-column-group
}
.not-reset datalist {
 	display: none;
}
.not-reset dd {
 	display: block;
	margin-left: 40px;
}
.not-reset del {
 	text-decoration: line-through;
}
.not-reset details {
 	display: block;
}
.not-reset dfn {
 	font-style: italic;
}
.not-reset div {
 	display: block;
}
.not-reset dl {
 	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}
.not-reset dt {
 	display: block;
}
.not-reset em {
 	font-style: italic;
}
.not-reset embed:focus {
	outline: none;
}
.not-reset fieldset {
 	display: block;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
}
.not-reset figcaption {
 	display: block;
}
.not-reset figure {
 	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	margin-right: 40px;
}
.not-reset footer {
 	display: block;
}
.not-reset form {
 	display: block;
margin-top: 0em;
}
.not-reset h1 {
 	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.not-reset h2 {
 	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.not-reset h3 {
 	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.not-reset h4 {
 	display: block;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.not-reset h5 {
 	display: block;
	font-size: .83em;
	margin-top: 1.67em;
	margin-bottom: 1.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.not-reset h6 {
 	display: block;
	font-size: .67em;
	margin-top: 2.33em;
	margin-bottom: 2.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.not-reset head {
 	display: none;
}
.not-reset header {
 	display: block;
}
.not-reset hr {
 	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}
.not-reset html {
 	display: block;
}
.not-reset html:focus {
	outline: none;
}
.not-reset i {
 	font-style: italic;
}
.not-reset iframe:focus {
	outline: none;
}
.not-reset iframe[seamless] {
	display: block;
}
.not-reset img {
 	display: inline-block;
}
.not-reset ins {
 	text-decoration: underline;
}
.not-reset kbd {
 	font-family: monospace;
}
.not-reset label {
 	cursor: default;
}
.not-reset legend {
 	display: block;
	padding-left: 2px;
	padding-right: 2px;
	border: none;
}
.not-reset li {
 	display: list-item;
}
.not-reset link {
 	display: none;
}
.not-reset map {
 	display: inline;
}
.not-reset mark {
 	background-color: yellow;
	color: black;
}
.not-reset menu {
 	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}
.not-reset nav {
 	display: block;
}
.not-reset object:focus {
	outline: none;
}
.not-reset ol {
 	display: block;
	list-style-type: decimal;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}
.not-reset output {
 	display: inline;
}
.not-reset p {
 	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}
.not-reset param {
 	display: none;
}
.not-reset pre {
 	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0;
}
.not-reset q {
 	display: inline;
}
.not-reset q::before {
	content: open-quote;
}
.not-reset q::after {
	content: close-quote;
}
.not-reset rt {
 	line-height: normal;
}
.not-reset s {
 	text-decoration: line-through;
}
.not-reset samp {
 	font-family: monospace;
}
.not-reset script {
 	display: none;
}
.not-reset section {
 	display: block;
}
.not-reset small {
 	font-size: smaller;
}
.not-reset strong {
 	font-weight: bold;
}
.not-reset style {
 	display: none;
}
.not-reset sub {
 	vertical-align: sub;
	font-size: smaller;
}
.not-reset summary {
 	display: block;
}
.not-reset sup {
 	vertical-align: super;
	font-size: smaller;
}
.not-reset table {
 	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}
.not-reset tbody {
 	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
.not-reset td {
 	display: table-cell;
	vertical-align: inherit;
}
.not-reset tfoot {
 	display: table-footer-group;
	vertical-align: middle;
	border-color: inherit;
}
.not-reset th {
 	display: table-cell;
	vertical-align: inherit;
	font-weight: bold;
	text-align: center;
}
.not-reset thead {
 	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
.not-reset title {
 	display: none;
}
.not-reset tr {
 	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
.not-reset u {
 	text-decoration: underline;
}
.not-reset ul {
 	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}
.not-reset var {
 	font-style: italic;
}