
@font-face {
  font-family: 'Roboto-Condensed';
  src: url('../fonts/Roboto-Condensed.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/Roboto-Condensed.woff') format('woff'),
	  url('../fonts/Roboto-Condensed.ttf')  format('truetype'),
	  url('../fonts/Roboto-Condensed.svg#Roboto-Condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-BoldCondensed';
  src: url('../fonts/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/Roboto-BoldCondensed.woff') format('woff'),
	  url('../fonts/Roboto-BoldCondensed.ttf')  format('truetype'),
	  url('../fonts/Roboto-BoldCondensed.svg#Roboto-BoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-CondensedItalic';
  src: url('../fonts/Roboto-CondensedItalic.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/Roboto-CondensedItalic.woff') format('woff'),
	  url('../fonts/Roboto-CondensedItalic.ttf')  format('truetype'),
	  url('../fonts/Roboto-CondensedItalic.svg#Roboto-CondensedItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-BoldCondensedItalic';
  src: url('../fonts/Roboto-BoldCondensedItalic.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/Roboto-BoldCondensedItalic.woff') format('woff'),
	  url('../fonts/Roboto-BoldCondensedItalic.ttf')  format('truetype'),
	  url('../fonts/Roboto-BoldCondensedItalic.svg#Roboto-BoldCondensedItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}