$color1: #454545;
$color2: #878d92;
$color3: #859aad;
$color4: #518bbd;
$color5: #e5e5e5;
$color6: #518bbd;
$color7: #3c6ea2;
$color8: #5c7081;
$color9: #ed445b;
$bordercolor: #e5e5e5;

/* common classes */
body {
  min-width: 320px;
  font-family: 'Roboto-BoldCondensed', sans-serif;
  font-size: 15px;
}
.container {
  height: 100%;
}
.container:before,
.container:after {
  content: none;
}
.padding-lr-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.padding-l-50 {
  padding-left: 50px;
}
.flex-wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex-space-b {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-space-c {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-align-center {
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-grow-1 {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.flex-shrink-0 {
  -ms-flex-negative: 0;
  -webkit-box-flex: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.flex-dir-col {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex-flow-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.blue-button {
  width: 100%;
  height: 38px;
  color: #fff;
  font-size: 18px;
  background: $color4;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.75);
}
.height100 {
  height: 100%;
}
.oh {
  overflow: hidden;
}
/* common classes end */
/**/
/* tabs-group */
.tabs-group {
  margin: -12px -12px 0 -12px;
  .tab {
    width: 256px;
    background: #fff;
    border: 1px solid $bordercolor;
    margin: 12px;
    box-shadow: 0 0 4px rgba(0,0,0,0.14);
    span,
    img {
      display: block;
      text-align: center;
    }
    .tab-ins {
      display: -ms-flexbox;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      height: 296px;
      color: $color1;
      padding: 15px 15px 20px 15px;
      border-bottom: 1px solid $bordercolor;
      .recomm {
        font-family: 'Roboto-Condensed', sans-serif;
        line-height: 24px;
        padding: 0 10px;
        background: #fcf3e9;
        text-transform: uppercase;
      }
      .product-name-group {
        .cat-name {
          color: #949494;
          font-family: 'Roboto-Condensed', sans-serif;
          margin-bottom: 8px;
        }
        .product-name {
          color: #505050;
          font-size: 17px;
        }
      }
    }
    .bottom-part {
      display: -ms-flexbox;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      height: 45px;
      span {
        color: #222426;
        font-size: 16px;
        margin: auto;
      }
    }
  }
}
.tabs-group.variant2 {
  .tab {
    width: 30%;
    .tab-ins {
      height: 256px;
      padding-top: 28px;
    }
  }
}
/* </tabs-group */
/**/
/* tabs-group2 */
.tabs-group {
  .tab2 {
    width: 256px;
    border: 1px solid $bordercolor;
    margin: 12px;
    box-shadow: 0 0 4px rgba(0,0,0,0.14);
    span {
      display: block;
    }
    .tab-ins {
      position: relative;
      height: 284px;
      overflow: hidden;
      border-bottom: 1px solid $bordercolor;
      .img-wrap {
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .tab-descript {
        padding: 14px 18px 18px 18px;
        .descr-title {
          color: #505152;
          line-height: 18px;
          margin-bottom: 8px;
        }
        .descr-text {
          color: #888e93;
          font-size: 13px;
          font-family: 'Roboto-Condensed', sans-serif;
          line-height: 17px;
        }
      }
      .bot-grad {
        position: absolute;
        width: 100%;
        height: 18px;
        left: 0;
        bottom: 0;
        background: rgb(255,255,255);
      }
    }
    .bottom-part {
      display: -ms-flexbox;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      height: 24px;
      span {
        color: #888e93;
        font-size: 13px;
        font-family: 'Roboto-Condensed', sans-serif;
        line-height: 17px;
        margin: auto;
      }
    }
  }
}
/* </tabs-group2 */
/**/
/* p.view-more */
p.view-more,
p.hide-this {
  height: 35px;
  color: #4b5661;
  text-align: center;
  line-height: 35px;
  background: #e0e5e6;
  cursor: pointer;
}
p.view-more.none,
p.hide-this.none {
  display: none;
}
/* </p.view-more */
/**/
/* .crossy */
.crossy {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: pointer;
  .line1,
  .line2 {
    position: absolute;
    width: 21px;
    height: 1px;
    background: $color3;
  }
  .line1 {
    top: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .line2 {
    top: 0;
    right: 0;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
/* </.crossy */
/**/
/* checkbox */
.jq-checkbox {
  width: 17px;
  height: 17px;
  background: #fff;
  border: 1px solid $color5;
  border-radius: 4px;
  margin-right: 10px;
  box-shadow: none;
}
.jq-checkbox.checked {
  .jq-checkbox__div {
    width: 15px;
    height: 15px;
    background: url(../img/check.png) 50% 50% no-repeat;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
  }
}
.jq-checkbox.focused {
  border: 1px solid $color5;
}
/* </checkbox */
/**/
/* radio */
.jq-radio {
  width: 17px;
  height: 17px;
  background: #fff;
  border: 1px solid $color5;
  margin-right: 10px;
  box-shadow: none;
}
.jq-radio.checked {
  .jq-radio__div {
    width: 9px;
    height: 9px;
    background: $color6;
    margin: 3px 0 0 3px;
    box-shadow: none;
  }
}
.jq-radio.focused {
  border: 1px solid $color5;
}
/* </radio */
/**/
/* top-strip */
.top-strip {
  height: 32px;
  text-align: center;
  background: $color8;
  p {
    display: inline-block;
    color: #fff;
    font-family: 'Roboto-Condensed', sans-serif;
    line-height: 32px;
    margin-right: 15px;
  }
  button {
    width: 82px;
    height: 22px;
    color: #fff;
    font-family: 'Roboto-Condensed', sans-serif;
    background: #475b6b;
    border-radius: 5px;
  }
}
/* top-strip */
/**/
/* input-placeholder */
input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
/* </input-placeholder */
/**/
/* breadcrumb */
.breadcrumb {
  font-size: 14px;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
  li {
    a {
      color: $color7;
    }
  }
  >li+li:before {
    content: '\003E';
    color: #8f8f8f;
  }
}
/* </breadcrumb */
/**/
/* slick-arrows */
.slick-arrow {
  position: absolute;
  top: 50%;
  width: 13px;
  height: 25px;
  text-indent: -9999px;
  margin-top: -12px;
  z-index: 5;
}
.slick-prev {
  left: -21px;
  background: url(../img/ar-left.png) 50% 50% no-repeat;
}
.slick-next {
  right: -21px;
  background: url(../img/ar-right.png) 50% 50% no-repeat;
}
/* </slick-arrows */
/**/
/* header*/
header {
  position: relative;
  height: 72px;
  background: #fff;
  background: -webkit-linear-gradient(bottom, rgba(236,236,236,0.5) 0%,rgba(255,255,255,1) 30%);
  background: linear-gradient(to top, rgba(236,236,236,0.5) 0%,rgba(255,255,255,1) 30%);
  box-shadow: 0 1px 5px rgba(197,197,197,1);
  z-index: 300;
  .dropdown-wrap	{
    position: relative;
    #delivery.vis {
      top: 100%;
      opacity: 1;
    }
    #delivery {
      position: absolute;
      width: 800px;
      top: -550px;
      right: 30px;
      color: $color2;
      background: #fff;
      border: 1px solid $bordercolor;
      box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.5);
      opacity: 0;
      -webkit-transition: 0.7s ease;
      transition: 0.7s ease;
      .crossy {
        top: 24px;
        right: 27px;
      }
      .top-part {
        padding: 35px 35px 23px 35px;
        border-bottom: 2px solid #ecf3fa;
        h3 {
          font-size: 17px;
          margin-bottom: 20px;
        }
        .dropdown-search {
          height: 40px;
          padding-left: 10px;
          border: 1px solid #e5e5e5;
          border-radius: 10px;
          margin-bottom: 16px;
          box-shadow: 0 2px 2px #e5e5e5;
          input[type="search"] {
            height: 100%;
            font-family: 'Roboto-Condensed', sans-serif;
            padding-left: 10px;
            padding-right: 20px;
          }
          input[type="submit"] {
            height: 100%;
            width: 95px;
            color: #000;
            background: #e0e5e6;
            border-radius: 0 8px 8px 0;
          }
        }
        p {
          font-family: 'Roboto-Condensed', sans-serif;
          span {
            color: $color6;
          }
        }
      }
      .bottom-part {
        padding: 20px 35px 32px 35px;
        .h3-wrap {
          margin-bottom: 16px;
          h3 {
            display: inline-block;
            width: 245px;
          }
          p.region-title {
            display: inline-block;
            font-family: 'Roboto-BoldCondensed', sans-serif;
            padding-left: 22px;
          }
        }
        .regions-wrap {
          overflow: hidden;
          height: 160px;
          font-family: 'Roboto-Condensed', sans-serif;
          border-radius: 10px 0 0 10px;
          margin-bottom: 28px;
          .wrapper {
            position: relative;
            width: 245px;
            height: 100%;
            background: #f1f5f6;
            border-radius: 10px 0 0 10px;
            z-index: 1;
            .lead {
              position: absolute;
              top: 0;
              right: 0;
              bottom: -20px;
              width: 4px;
              background: #ccd5d7;
              z-index: 2;
            }
            .top-padd,
            .bot-padd {
              position: absolute;
              height: 18px;
              right: 0;
              left: 0;
              background: #f1f5f6;
            }
            .top-padd {
              top: 0;
              border-top-left-radius: 10px;
            }
            .bot-padd {
              bottom: 0;
              border-bottom-left-radius: 10px;
            }
            ul.regions {
              height: 162px;
              padding: 18px 20px 18px 0;
              overflow-y: scroll;
              li.region {
                color: $color6;
                padding: 7px 20px;
                border-radius: 0 10px 10px 0;
                cursor: pointer;
                -webkit-transition: 0.2s ease;
                transition: 0.2s ease;
                ul.cities {
                  position: absolute;
                  overflow: hidden;
                  width: 483px;
                  height: 160px;
                  top: 0;
                  left: 245px;
                  background: #fcf3e9;
                  padding: 18px 13px 16px 13px;
                  -webkit-column-count: 3;
                  -moz-column-count: 3;
                  column-count: 3;
                  z-index: 5;
                  li {
                    a {
                      display: block;
                      overflow: hidden;
                      color: #222426;
                      text-overflow: ellipsis;
                      padding: 5px 12px;
                      border-radius: 10px;
                      -webkit-transition: 0.2s ease;
                      transition: 0.2s ease;
                    }
                    a:hover {
                      color: #fff;
                      background: $color6;
                    }
                  }
                }
              }
              li.region:hover,
              li.region.active {
                background: #fff;
              }
            }
          }
        }
        p {
          color: $color2;
          font-family: 'Roboto-Condensed', sans-serif;
          line-height: 22px;
        }
      }
    }
    #entry.vis {
      top: 100%;
      opacity: 1;
    }
    #entry,
    #registration,
    #restore {
      position: absolute;
      top: -510px;
      right: 30px;
      width: 380px;
      background: #ececec;
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 70%,rgba(236,236,236,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,1) 70%,rgba(236,236,236,1) 100%);
      border-radius: 0 0 10px 10px;
      box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.5);
      opacity: 0;
      -webkit-transition: 0.7s ease;
      transition: 0.7s ease;
      .crossy {
        top: 26px;
        right: 27px;
      }
      .main-part {
        padding: 22px 27px;
        h2 {
          font-size: 24px;
          text-align: center;
          margin-bottom: 25px;
        }
        form {
          input[type="text"],
          input[type="email"],
          input[type="password"] {
            width: 100%;
            height: 35px;
            font-size: 16px;
            font-family: 'Roboto-CondensedItalic', sans-serif;
            padding-left: 28px;
            padding-right: 28px;
            border: 1px solid $color5;
            border-radius: 10px;
            margin-bottom: 18px;
          }
          input[type="text"]:focus,
          input[type="email"]:focus,
          input[type="password"]:focus {
            font-family: 'Roboto-Condensed', sans-serif;
            border-color: #9bb7d0;
          }
          input[type="text"].error,
          input[type="email"].error,
          input[type="password"].error {
            color: $color9;
            border-color: $color9;
          }
          input[type="submit"],
          label {
            width: 48%;
          }
          input[type="submit"] {
            height: 35px;
            font-size: 16px;
            box-shadow: none;
          }
          label {
            color: $color2;
            font-size: 15px;
            font-family: 'Roboto-CondensedItalic', sans-serif;
            cursor: pointer;
          }
        }
        p {
          font-family: 'Roboto-CondensedItalic', sans-serif;
          text-align: center;
          margin-bottom: 15px;
        }
        p.error {
          color: $color9;
        }
      }
      .link-part {
        padding: 0 28px;
        height: 40px;
        border-top: 2px solid #ececec;
        border-bottom: 2px solid #ececec;
        span {
          color: $color3;
          font-size: 15px;
          cursor: pointer;
        }
      }
      .social-part {
        height: 51px;
        a {
          display: block;
          width: 23px;
          height: 23px;
          margin-left: 3px;
          margin-right: 4px;
        }
      }
    }
    #registration.vis {
      top: 100%;
      opacity: 1;
    }
    #registration {
      top: -580px;
      opacity: 1;
      .main-part {
        form {
          input[type="checkbox"],
          label {
            width: 100%;
          }
          label {
            margin-bottom: 8px;
            a {
              color: $color6;
            }
          }
          input[type="submit"] {
            display: block;
            width: 148px;
            margin: 0 auto;
          }
          input[type="submit"].non-active {
            background: #bbccdc;
          }
          .wrap {
            position: relative;
            #eye {
              position: absolute;
              right: 15px;
              top: 12px;
              cursor: pointer;
            }
          }
        }
      }
      .link-part {
        height: 51px;
        border-bottom: none;
      }
    }
    #restore.vis {
      top: 100%;
      opacity: 1;
    }
    #restore {
      top: -470px;
      opacity: 1;
      .main-part {
        form {
          input[type="submit"] {
            display: block;
            width: 148px;
            margin: 0 auto;
          }
        }
      }
      .link-part {
        height: 51px;
        border-bottom: none;
      }
    }
  }
  .button-wrap {
    display: none;
    -ms-flex-preferred-size: 190px;
    -webkit-flex-basis: 190px;
    flex-basis: 190px;
    padding-left: 15px;
    button.blue-button {
      height: 32px;
      font-size: 17px;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.75);
      .arrow {
        display: inline-block;
        width: 8px;
        height: 8px;
        background: transparent;
        -webkit-background: linear-gradient(top, rgba(255,255,255,0) 6px, rgba(255,255,255,1) 6px),
        linear-gradient(left, rgba(255,255,255,0) 6px, rgba(255,255,255,1) 6px);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 6px, rgba(255,255,255,1) 6px),
        linear-gradient(to right, rgba(255,255,255,0) 6px, rgba(255,255,255,1) 6px);
        margin-left: 10px;
        vertical-align: 3px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .arrow.up {
        vertical-align: -1px;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
  .img-wrap {
    -ms-flex-preferred-size: 285px;
    -webkit-flex-basis: 285px;
    flex-basis: 285px;
  }
  .right-part {
    .search-button {
      width: 18px;
      height: 18px;
      background: url(../img/search.png) 50% 50% no-repeat;
      cursor: pointer;
      display: none;
    }
    .jq-selectbox {
      .jq-selectbox__select {
        font-family: 'Roboto-BoldCondensed', sans-serif;
        font-size: 15px;
        background: none;
        border: none;
        box-shadow: none;
        padding-right: 21px;
        text-shadow: none;
        .jq-selectbox__select-text {
          width: inherit !important;
        }
        .jq-selectbox__trigger {
          width: 22px;
          border: none;
          .jq-selectbox__trigger-arrow {
            width: 6px;
            height: 6px;
            top: 12px;
            right: 8px;
            background: transparent;
            -webkit-background: linear-gradient(top, rgba(135,141,146,0) 4px, rgba(135,141,146,1) 4px),
            linear-gradient(left, rgba(135,141,146,0) 4px, rgba(135,141,146,1) 4px);
            background: linear-gradient(to bottom, rgba(135,141,146,0) 4px, rgba(135,141,146,1) 4px),
            linear-gradient(to right, rgba(135,141,146,0) 4px, rgba(135,141,146,1) 4px);
            border: none;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          .jq-selectbox__trigger-arrow.up {
            top: 15px;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
          }
        }
      }
      .jq-selectbox__dropdown {
        width: 245px;
        font-family: 'Roboto-BoldCondensed', sans-serif;
        font-size: 14px;
        padding: 15px 20px;
        box-shadow: 0 2px 2px $color5;
        ul {
          li {
            color: $color2;
            padding: 6px 20px;
            border-radius: 10px;
            -webkit-transition: 0.2s ease;
            transition: 0.2s ease;
          }
          li:last-child {
            margin-bottom: 0;
          }
          li:hover,
          li.selected {
            color: #fff;
            background: $color6;
          }
        }
      }
    }
    .jq-selectbox.focused {
      .jq-selectbox__select {
        border: none;
      }
    }
    .search-group {
      height: 32px;
      background: #fff;
      border: 1px solid $color5;
      border-radius: 10px 10px 10px 0;
      box-shadow: 0 2px 2px $color5;
      #categories-styler {
        .jq-selectbox__select {
          padding-left: 35px;
          color: $color2;
        }
      }
      input[type="search"] {
        height: 100%;
      }
      input[type="submit"] {
        width: 95px;
        height: 100%;
        background: #e0e5e6;
        border-radius: 0 8px 8px 0;
      }
    }
    .city-choose:before {
      content: '';
      display: inline-block;
      width: 9px;
      height: 13px;
      background: url(../img/pict-1.png) 50% 50% no-repeat;
      margin-right: 9px;
      vertical-align: -1px;
    }
    .entry-link,
    .register-link {
      .pic {
        display: none;
      }
    }
    a {
      color: $color4;
      margin-left: 20px;
    }
  }
}
/* </header*/
/*

*/
/* index */
.wrapper {
  position: relative;
  .cover {
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: none;
  }
}

.main-section {
  background: rgb(233,233,233);
  background: -webkit-linear-gradient(rgba(233,233,233,1) 0%, rgba(244,252,242,1) 360px, rgba(255,255,255,1) 100%);
  background: linear-gradient(rgba(233,233,233,1) 0%, rgba(244,252,242,1) 360px, rgba(255,255,255,1) 100%);
  padding-top: 22px;
  margin-bottom: 42px;
  aside {
    -ms-flex-preferred-size: 285px;
    -webkit-flex-basis: 285px;
    flex-basis: 285px;
    position: relative;
    .flag {
      display: none;
    }
    button {
      margin-bottom: 24px;
      .arrow {
        display: inline-block;
        width: 8px;
        height: 8px;
        background: transparent;
        -webkit-background: linear-gradient(top, rgba(255,255,255,0) 6px, rgba(255,255,255,1) 6px),
        linear-gradient(left, rgba(255,255,255,0) 6px, rgba(255,255,255,1) 6px);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 6px, rgba(255,255,255,1) 6px),
        linear-gradient(to right, rgba(255,255,255,0) 6px, rgba(255,255,255,1) 6px);
        margin-left: 10px;
        vertical-align: 3px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .arrow.up {
        vertical-align: -1px;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
    ul.sb {
      position: relative;
      background: #fff;
      padding: 19px 0;
      box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
      z-index: 202;
      li.cat {
        position: relative;
        font-family: 'Roboto-Condensed', sans-serif;
        font-size: 14px;
        z-index: 201;
        a.a-cat {
          display: block;
          position: relative;
          color: $color2;
          padding: 11px 40px 11px 25px;
          -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
        }
        a.a-cat:hover {
          background: #f1f5f6;
        }
        a.a-cat:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 15px;
          border: 5px solid transparent;
          border-left-color: $color2;
          margin-top: -5px;
        }
        .ul-wrap {
          position: absolute;
          overflow: hidden;
          left: 100%;
          top: -19px;
          background: #fff;
          background: -webkit-linear-gradient(left, rgba(239,242,243,1) 1%,rgba(255,255,255,1) 12%,rgba(255,255,255,1) 12%);
          background: linear-gradient(to right, rgba(239,242,243,1) 1%,rgba(255,255,255,1) 12%,rgba(255,255,255,1) 12%);
          padding: 22px 260px 8px 30px;
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
          z-index: 100;
          display: none;
          .advert {
            position: absolute;
            top: 0;
            right: 0;
            text-align: center;
            .img-wrap {
              position: relative;
              width: 288px;
              height: 212px;
              img {
                width: 100%;
              }
              .cover {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: transparent;
                background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%),
                linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%);
                background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%),
                linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%);
                z-index: 10;
              }
            }
            p {
              position: relative;
              color: #505050;
              font-size: 17px;
              font-family: 'Roboto-BoldCondensed', sans-serif;
              padding-left: 20px;
              z-index: 12;
            }
            p.title {
              margin-top: -18px;
              margin-bottom: 10px;
            }
          }
          ul {
            li {
              font-size: 16px;
              font-family: 'Roboto-BoldCondensed', sans-serif;
              margin-bottom: 10px;
              a {
                display: block;
                color: $color6;
                margin-bottom: 6px;
                -webkit-transition: 0.2s ease;
                transition: 0.2s ease;
              }
              a:after {
                content: '';
                display: inline-block;
                border: 5px solid transparent;
                border-left-color: $color6;
                margin-left: 6px;
              }
              a:hover{
                color: #095366;
              }
              a:hover:after {
                border-left-color: #095366;
              }
              ul {
                min-width: 190px;
                li {
                  font-size: 14px;
                  font-family: 'Roboto-Condensed', sans-serif;
                  line-height: 1.25;
                  margin-bottom: 0;
                  a {
                    color: $color2;
                    margin-bottom: 0;
                  }
                  a:after {
                    content: none;
                  }
                }
              }
            }
          }
        }
      }
      li.cat:hover {
        .ul-wrap {
          display: block;
        }
      }
    }
    ul.sb.ordinary {
      position: absolute;
      left: 15px;
      top: 100%;
      right: 15px;
    }
  }
  .right-part {
    -ms-flex-preferred-size: 855px;
    -webkit-flex-basis: 855px;
    flex-basis: 855px;
    overflow: hidden;
    .top-panel {
      -ms-flex-align: start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      height: 62px;
      .item {
        overflow: hidden;
        max-width: 160px;
        color: $color3;
        padding-top: 3px;
        img {
          float: left;
          margin-right: 10px;
        }
        p {
          line-height: 20px;
        }
      }
      .item-a {
        p.tel {
          color: #2e3d4b;
          font-size: 21px;
          margin-bottom: 8px;
        }
        a.callback {
          display: block;
          color: $color7;
          border-bottom: 1px dotted $color7;
          -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
        }
        a.callback:hover {
          border-bottom-color: transparent;
        }
      }
    }
    .wrapper {
      .slider-wrap {
        .slider {
          margin-bottom: 19px;
          .slider-item {
            img {
              width: 100%;
              border: 1px solid $bordercolor;
            }
          }
          .slick-dots {
            position: absolute;
            width: 136px;
            height: 34px;
            left: 0;
            bottom: 0;
            text-align: center;
            background: transparent;
            padding-top: 8px;
            li {
              display: inline-block;
              width: 19px;
              height: 19px;
              background: #dce4ec;
              border-radius: 50%;
              margin-left: 6px;
              margin-right: 6px;
              cursor: pointer;
              -webkit-transition: 0.3s ease;
              transition: 0.3s ease;
              button {
                text-indent: -9999px;
              }
            }
            li.slick-active {
              background: #9ab309;
            }
          }
        }
      }
      .tab-links {
        align-content: space-between;
        height: 233px;
        a.tab-link {
          display: block;
          position: relative;
          width: 189px;
          height: 105px;
          border: 1px solid $bordercolor;
          img {
            width: 100%;
          }
          .tab-title {
            position: absolute;
            width: 140px;
            bottom: 10px;
            left: 50%;
            color: $color7;
            text-align: center;
            background: rgba(255,255,255,0.86);
            padding: 7px 6px;
            margin-left: -70px;
          }
        }
        a.tab-link:last-child {
          display: none;
        }
      }
      .tab-links-flag {
        display: none;
      }
    }
  }
}
.main-section.variant {
  margin-bottom: 0;
}
.main-section.variant404 {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.section {
  position: relative;
  margin-bottom: 52px;
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  p.text {
    color: #878d92;
    font-size: 12px;
    font-family: 'Roboto-Condensed', sans-serif;
    line-height: 16px;
  }
  .more {
    margin-top: 12px;
    display: none;
  }
  .brand-tabs-group {
    margin: -4px;
    .brand-tab {
      display: -ms-flexbox;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      width: 160px;
      height: 83px;
      border: 1px solid $bordercolor;
      margin: 4px;
      box-shadow: 0 0 4px rgba(0,0,0,0.14);
      img {
        margin: auto;
      }
    }
  }
}
/* </index */
/*

*/
/* product-card diffs */
.product-wrap {
  margin-bottom: 25px;
  .product {
    background: #fff;
    padding: 65px 65px 45px 65px;
    border: 1px solid $bordercolor;
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
    .parts {
      margin-bottom: 48px;
      .left-part,
      .right-part {
        -ms-flex-preferred-size: 49.8%;
        -webkit-flex-basis: 49.8%;
        flex-basis: 49.8%;
      }
      .left-part {
        padding-right: 15px;
        .img-group {
          height: 100%;
          .img-wrap {
            width: 474px;
            height: 336px;
            border: 1px solid $bordercolor;
            margin-bottom: 14px;
            img {
              max-width: 100%;
              max-height: 100%;
              margin: auto;
            }
          }
          .img-row {
            width: 417px;
            height: 80px;
            margin: 0 auto;
            a.a-img-wrap {
              width: 125px;
              height: 80px;
              border: 1px solid $bordercolor;
              margin: 0 7px;
              span {
                height: 100%;
                img {
                  max-width: 100%;
                  max-height: 100%;
                  margin: auto;
                }
              }
            }
          }
        }
      }
      .right-part {
        padding-left: 15px;

        h2 {
          max-height: 60px;
          overflow: hidden;
          color: #505050;
          font-size: 24px;
          line-height: 30px;
          margin-top: -5px;
          margin-bottom: 15px;
        }
        .articul-group {
          margin-bottom: 18px;
          p {
            font-family: 'Roboto-Condensed', sans-serif;
            font-size: 14px;
          }
          p.presence {
            background: #fcf3e9;
            text-transform: uppercase;
            padding: 6px 14px 4px 14px;
          }
          p.presence:before {
            content: '';
            display: inline-block;
            width: 11px;
            height: 9px;
            background: url(../img/check2.png) 50% 50% no-repeat;
            margin-right: 8px;
            vertical-align: 1px;
          }
          p.articul {
            color: #949494;
            padding-top: 2px;
          }
        }
        .price-group {
          margin-bottom: 10px;
          .price-block {
            -ms-flex-preferred-size: 49.8%;
            -webkit-flex-basis: 49.8%;
            flex-basis: 49.8%;
            height: 70px;
            border: 1px solid $bordercolor;
            .wrap {
              font-family: 'Roboto-Condensed', sans-serif;
              text-align: center;
              margin: auto;
              p.price {
                color: $color6;
                font-size: 34px;
              }
              p.price-descr {
                font-size: 14px;
                color: #505050;
              }
            }
          }
          .price-block:last-child {
            border-left-color: transparent;
          }
        }
        a.cond {
          display: block;
          color: $color7;
          font-size: 14px;
          margin-bottom: 15px;
        }
        .text-group {
          color: #505050;
          font-family: 'Roboto-Condensed', sans-serif;
          font-size: 14px;
          padding: 24px 24px 28px 24px;
          border: 1px solid $bordercolor;
          h3 {
            font-family: 'Roboto-BoldCondensed', sans-serif;
            font-size: 18px;
            margin-bottom: 14px;
          }
          h3:before {
            content: '';
            display: inline-block;
            width: 22px;
            height: 15px;
            background: url(../img/pict-7.png) 50% 50% no-repeat;
            margin-right: 10px;
            vertical-align: middle;
          }
          p {
            margin-bottom: 15px;
            span {
              color: $color6;
            }
          }
          p.top {
            margin-bottom: 22px;
          }
          a.show-ways {
            display: inline-block;
            color: #3c6ea2;
            font-family: 'Roboto-BoldCondensed', sans-serif;
            border-bottom: 1px dotted #3c6ea2;
          }
        }
      }
    }
    .paragraph {
      color: #505050;
      margin-bottom: 35px;
      h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      p {
        font-family: 'Roboto-Condensed', sans-serif;
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 10px;
      }
      p:last-child {
        margin-bottom: 0;
      }
      .columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        .string {
          -ms-flex-align: start;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
          align-items: flex-start;
          p {
            margin-bottom: 0;
          }
          .charact-title {

          }
          .points {
            height: 19px;
            background: url(../img/point.png) repeat-x;
            background-position: bottom right;
            margin: 0 5px;
          }
          .charact {
            -ms-flex-preferred-size: 170px;
            -webkit-flex-basis: 170px;
            flex-basis: 170px;
          }
        }
      }
    }
    .paragraph:last-child {
      margin-bottom: 0;
    }
  }
}
/* </product-card diffs */
/*

*/
/* search-results diffs */
.search-results {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  .search-results-flag {
    display: none;
  }
  .filter-button {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    background: #fff;
    padding: 10px 15px;
    border-top: 1px solid #e5e5e5;
    z-index: 505;
    #filter {
      span.cr {
        font-family: 'Roboto-Condensed', sans-serif;
        font-size: 30px;
        display: none;
      }
    }
  }
  .filter-button.in-cross {
    width: 60px;
    height: 58px;
    left: auto;
    bottom: auto;
    top: 0;
    background: transparent;
    padding: 10px;
    border: none;
    #filter {
      span.fi {
        display: none;
      }
      span.cr {
        display: inline;
      }
    }
  }
  .left-part {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    .section {
      .filter {
        position: absolute;
        top: 6px;
        right: 0;
        p {
          color: $color2;
          span.sort-price {
            cursor: pointer;
          }
          span.sort-price:after {
            content: '\2193';
            display: inline-block;
            margin-left: 5px;
            vertical-align: 1px;
          }
          span.sort-price.up:after {
            content: '\2191';
          }
        }
      }
    }
  }
  .right-part {
    -ms-flex-preferred-size: 285px;
    -webkit-flex-basis: 285px;
    flex-basis: 285px;
    overflow: visible;
    margin-bottom: 15px;
    .aside {
      display: block;
      background: #fff;
      border: 1px solid $bordercolor;
      box-shadow: 0 0 4px rgba(0,0,0,0.15);
      .aside-block {
        color: $color2;
        font-family: 'Roboto-Condensed', sans-serif;
        padding: 23px;
        border-bottom: 1px solid $bordercolor;
        h3 {
          font-size: 18px;
          cursor: pointer;
        }
        h3:before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          background: transparent;
          -webkit-background: linear-gradient(top, rgba(135,141,146,0) 6px, rgba(135,141,146,1) 6px),
          linear-gradient(left, rgba(135,141,146,0) 6px, rgba(135,141,146,1) 6px);
          background: linear-gradient(to bottom, rgba(135,141,146,0) 6px, rgba(135,141,146,1) 6px),
          linear-gradient(to right, rgba(135,141,146,0) 6px, rgba(135,141,146,1) 6px);
          margin-left: 3px;
          margin-right: 10px;
          vertical-align: 1px;
          -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
        h3.clpsd:before {
          vertical-align: 3px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        .aside-block-cont {
          padding-top: 18px;
        }
        label {
          display: block;
          font-size: 14px;
          margin-bottom: 13px;
          cursor: pointer;
        }
        label:last-child {
          margin-bottom: 0;
        }
        .digit-field-group {
          label {
            margin-bottom: 0;
          }
          input[type="text"] {
            width: 60px;
            height: 30px;
            text-align: center;
            padding: 0 10px;
            border: 1px solid $bordercolor;
            border-radius: 10px;
            margin-left: 7px;
          }
        }

        .crawler-wrap {
          padding-bottom: 20px;
          .noUi-target {
            border: 1px solid $bordercolor;
            box-shadow: none;
          }
          .noUi-horizontal {
            height: 8px;
            .noUi-handle {
              width: 12px;
              height: 12px;
              left: -8px;
              top: -3px;
              background: $color6;
              border: none;
              border-radius: 50%;
            }
            .noUi-tooltip {
              width: 36px;
              top: 14px;
              left: -12px;
              background: transparent;
              padding-left: 0;
              padding-right: 0;
              border: none;
            }
            .noUi-handle-lower {
              box-shadow: 2px 1px 3px 0 rgba(0,0,0,0.23);
            }
            .noUi-handle-upper {
              box-shadow: -2px 1px 3px 0 rgba(0,0,0,0.23);
            }
            .noUi-handle:before,
            .noUi-handle:after {
              content: none;
            }
          }
          .noUi-connect {
            background: $color6;
            box-shadow: none;
          }
        }
        input[type="submit"] {
          width: 100%;
          height: 32px;
          color: #454545;
          font-family: 'Roboto-BoldCondensed', sans-serif;
          background: #e0e5e6;
          border-radius: 10px;
        }
      }
      .aside-block.sm {
        padding: 16px 23px;
      }
    }
  }
  .jq-selectbox {
    width: 100%;
    .jq-selectbox__select {
      color: $color2;
      font-family: 'Roboto-Condensed', sans-serif;
      font-size: 14px;
      background: #fff;
      padding-left: 18px;
      border: 1px solid $bordercolor;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.14);
      text-shadow: none;
    }
    .jq-selectbox__trigger {
      border: none;
      .jq-selectbox__trigger-arrow {
        width: 6px;
        height: 6px;
        top: 11px;
        right: 15px;
        background: transparent;
        -webkit-background: linear-gradient(top, rgba(135,141,146,0) 4px, rgba(135,141,146,1) 4px),
        linear-gradient(left, rgba(135,141,146,0) 4px, rgba(135,141,146,1) 4px);
        background: linear-gradient(to bottom, rgba(135,141,146,0) 4px, rgba(135,141,146,1) 4px),
        linear-gradient(to right, rgba(135,141,146,0) 4px, rgba(135,141,146,1) 4px);
        border: none;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .jq-selectbox__trigger-arrow.up {
        top: 15px;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
    .jq-selectbox__dropdown {
      font-family: 'Roboto-BoldCondensed', sans-serif;
      font-size: 14px;
      padding: 15px 20px;
      box-shadow: 0 2px 2px #e5e5e5;
      ul {
        li {
          color: $color2;
          font-family: 'Roboto-Condensed', sans-serif;
          padding: 6px 20px;
          border-radius: 10px;
          -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
        }
        li:last-child {
          margin-bottom: 0;
        }
        li.selected,
        li:hover {
          color: #fff;
          background: #518bbd;
        }
      }
    }
  }
}
/* </search-results diffs */
/*

*/
/* about & contacts diffs */
.about,
.contacts {
  padding-bottom: 60px;
  .left-part {
    -ms-flex-preferred-size: 285px;
    -webkit-flex-basis: 285px;
    flex-basis: 285px;
    ul.sidemenu {
      background: #fff;
      padding: 40px;
      border: 1px solid $bordercolor;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
      li {
        font-family: 'Roboto-Condensed', sans-serif;
        font-size: 16px;
        margin-bottom: 25px;
        a {
          color: $color7;
        }
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
  .right-part {
    .about-content,
    .maps {
      color: #505050;
      background: #fff;
      padding: 40px 65px 55px 65px;
      border: 1px solid $bordercolor;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
      h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 16px;
        margin-bottom: 15px;
      }
      h4 {
        font-size: 14px;
        margin-bottom: 15px;
      }
      .paragraph-group {
        overflow: hidden;
        margin-bottom: 25px;
        p {
          font-family: 'Roboto-Condensed', sans-serif;
          font-size: 14px;
          line-height: 30px;
          margin-bottom: 25px;
        }
        p:last-child {
          margin-bottom: 0;
        }
        .img-wrap {
          float: left;
          width: 285px;
          height: 180px;
          margin: 7px 30px 15px 0;
          img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
          }
        }
      }
      .paragraph-group:last-child {
        margin-bottom: 0;
      }
      .map-wrap {
        position: relative;
        margin-bottom: 55px;
        .map {
          height: 430px;
        }
        .contact {
          position: absolute;
          width: 255px;
          left: 30px;
          top: 30px;
          bottom: 30px;
          background: rgba(255,255,255,0.9);
          padding: 28px 30px;
          border: 1px solid $bordercolor;
          box-shadow: 0 0 18px rgba(0,0,0,0.14);
          z-index: 5;
          .contact-group {
            h4 {
              font-size: 18px;
              margin-bottom: 10px;
            }
            p {
              font-family: 'Roboto-Condensed', sans-serif;
              font-size: 16px;
              line-height: 26px;
            }
          }
        }
      }
      .map-wrap:last-child {
        margin-bottom: 0;
      }
    }
  }
}
/* </about & contacts diffs */
/*

*/
/* 404 diffs */
.content404 {
  background: #fff;
  padding: 55px 95px;
  border: 1px solid $bordercolor;
  box-shadow: 0 0 18px rgba(0,0,0,0.14);
  .left-part,
  .right-part {
    -ms-flex-preferred-size: 49.8%;
    -webkit-flex-basis: 49.8%;
    flex-basis: 49.8%;
    color: #505050;
    text-align: right;
    .group404 {
      width: 380px;
      text-align: center;
    }
    h2 {
      font-size: 216px;
      span {
        color: $color6;
      }
    }
    h3 {
      font-size: 28px;
      margin-bottom: 15px;
    }
    p {
      font-family: 'Roboto-Condensed', sans-serif;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 30px;
    }
    a {
      display: block;
      width: 220px;
      height: 46px;
      color: #fff;
      font-size: 16px;
      line-height: 46px;
      margin: 0 auto;
    }
  }
}
/* </404 diffs */
/*

*/
/* footer */
footer {
  min-height: 235px;
  background: $color8;
  padding: 32px 0;
  .ft-block {
    flex-basis: 25%;
    h3,
    .big-p {
      color: #fff;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 8px;
    }
    h3.var1 {
      margin-bottom: 40px;
    }
    h3.var2 {
      margin-bottom: 20px;
    }
    h3.var3 {
      margin-bottom: 13px;
    }
    h3.var4 {
      margin-bottom: 18px;
    }
    .small-p {
      color: #a6bece;
      font-family: 'Roboto-Condensed', sans-serif;
      margin-bottom: 8px;
    }
    ul {
      li {
        font-family: 'Roboto-Condensed', sans-serif;
        margin-bottom: 14px;
        a {
          color: #a6bece;
        }
      }
    }
    .pay-group {
      .pay-line {
        margin-bottom: 13px;
        .pay-tab {
          width: 98px;
          height: 35px;
          border: 1px solid #728ba0;
          margin-right: 9px;
          img {
            margin: auto;
          }
        }
      }
    }
    .socials {
      margin-bottom: 25px;
    }
    form {
      input {
        height: 32px;
        color: #607282;
        font-family: 'Roboto-Condensed', sans-serif;
      }
      input[type="text"] {
        padding: 0 12px;
        border: none;
      }
      input[type="submit"] {
        width: 40px;
        background: url(../img/pict-5.png) 50% 50% no-repeat,
        #fad02a;
      }
    }
  }
  .ft1 {
    .small-p.ph {
      display: none;
    }
  }

}
/* </footer */
