/* common classes */
body {
  min-width: 320px;
  font-family: 'Roboto-BoldCondensed', sans-serif;
  font-size: 15px; }

.container {
  height: 100%; }

.container:before,
.container:after {
  content: none; }

.padding-lr-15 {
  padding-left: 15px;
  padding-right: 15px; }

.padding-l-50 {
  padding-left: 50px; }

.flex-wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

.flex-space-b {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-space-c {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.flex-align-center {
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.flex-grow-1 {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1; }

.flex-shrink-0 {
  -ms-flex-negative: 0;
  -webkit-box-flex: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0; }

.flex-dir-col {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-flow-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.blue-button {
  width: 100%;
  height: 38px;
  color: #fff;
  font-size: 18px;
  background: #518bbd;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75); }

.height100 {
  height: 100%; }

.oh {
  overflow: hidden; }

/* common classes end */
/**/
/* tabs-group */
.tabs-group {
  margin: -12px -12px 0 -12px; }
.tabs-group .tab {
  width: 255px;
  height: 453px;
  background: #fff;
  border: 1px solid #e5e5e5;
  margin: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14); }
.tabs-group .tab span,
.tabs-group .tab img {
  display: block;
  text-align: center; }
.tabs-group .tab .tab-ins {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  /*height: 296px;*/
  color: #454545;
  padding: 15px 15px 20px 15px;
  border-bottom: 1px solid #e5e5e5; }
.tabs-group .tab .tab-ins .recomm {
  font-family: 'Roboto-Condensed', sans-serif;
  line-height: 24px;
  margin-bottom: 15px;
  height: 24px;
  overflow: hidden;
  padding: 0 10px;
  background: #fcf3e9;
  text-transform: uppercase; }
.tabs-group .tab .tab-ins .product-name-group .cat-name {
  color: #949494;
  height: 15px;
  overflow: hidden;
  font-family: 'Roboto-Condensed', sans-serif;
  margin-bottom: 8px; }
.tabs-group .tab .tab-ins .product-name-group .product-name {
  color: #505050;
  font-size: 17px; 
  height: 51px; 
  overflow: hidden;}
.tabs-group .tab .tab-ins .product-name-group .product-articul {
  color: #949494;
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: 15px;
  margin-top: 9px;
  height: 15px;
  overflow: hidden;
}
.tabs-group .tab .bottom-part {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 45px;
  overflow: hidden;}
.tabs-group .tab .bottom-part span {
  color: #222426;
  font-size: 16px;
  margin: auto; }

.tabs-group.variant2 .tab {
  margin: 12px 8px;
  height: 415px;
 }

/* </tabs-group */
/**/
/* tabs-group2 */
.tabs-group .tab2 {
  position: relative;
  width: 256px;
  border: 1px solid #e5e5e5;
  margin: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14); }
.tabs-group .tab2 span {
  display: block; }
.tabs-group .tab2 .tab-ins {
  position: relative;
  margin-bottom: 20px;
}
.tabs-group .tab2 .tab-ins .img-wrap {
  overflow: hidden; }

.tabs-group .tab2 .tab-ins .img-wrap img {
  width: 100%; }
.tabs-group .tab2 .tab-ins .tab-descript {
  padding: 14px 18px 18px 18px; }
.tabs-group .tab2 .tab-ins .tab-descript .descr-title {
  color: #505152;
  line-height: 18px;
  margin-bottom: 8px; }
.tabs-group .tab2 .tab-ins .tab-descript .descr-text {
  color: #888e93;
  font-size: 13px;
  font-family: 'Roboto-Condensed', sans-serif;
  line-height: 17px; }
.tabs-group .tab2 .tab-ins .bot-grad {
  position: absolute;
  width: 100%;
  height: 18px;
  left: 0;
  bottom: 0;
  background: white; }
.tabs-group .tab2 .bottom-part {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 24px; }
.tabs-group .tab2 .bottom-part span {
  color: #888e93;
  font-size: 13px;
  font-family: 'Roboto-Condensed', sans-serif;
  line-height: 17px;
  margin: auto; }

/* </tabs-group2 */
/**/
/* p.view-more */
p.view-more,
p.hide-this {
  height: 35px;
  color: #4b5661;
  text-align: center;
  line-height: 35px;
  background: #e0e5e6;
  cursor: pointer; }

p.view-more.none,
p.hide-this.none {
  display: none; }

/* </p.view-more */
/**/
/* .crossy */
.crossy {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: pointer; }
.crossy .line1,
.crossy .line2 {
  position: absolute;
  width: 21px;
  height: 1px;
  background: #859aad; }
.crossy .line1 {
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.crossy .line2 {
  top: 0;
  right: 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* </.crossy */
/**/
/* checkbox */
.jq-checkbox {
  width: 17px;
  height: 17px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 10px;
  box-shadow: none; }

.jq-checkbox.checked .jq-checkbox__div {
  width: 15px;
  height: 15px;
  background: url(../img/check.png) 50% 50% no-repeat;
  border-radius: 0;
  margin: 0;
  box-shadow: none; }

.jq-checkbox.focused {
  border: 1px solid #e5e5e5; }

/* </checkbox */
/**/
/* radio */
.jq-radio {
  width: 17px;
  height: 17px;
  background: #fff;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
  box-shadow: none; }

.jq-radio.checked .jq-radio__div {
  width: 9px;
  height: 9px;
  background: #518bbd;
  margin: 3px 0 0 3px;
  box-shadow: none; }

.jq-radio.focused {
  border: 1px solid #e5e5e5; }

/* </radio */
/**/
/* top-strip */
.top-strip {
  height: 32px;
  text-align: center;
  background: #5c7081; }
.top-strip p, .top-strip a, .top-strip a:hover {
  display: inline-block;
  color: #fff;
  font-family: 'Roboto-Condensed', sans-serif;
  line-height: 32px;
  margin-right: 15px; }
.top-strip button {
  width: 82px;
  height: 22px;
  color: #fff;
  font-family: 'Roboto-Condensed', sans-serif;
  background: #475b6b;
  border-radius: 5px; }

/* top-strip */
/**/
/* input-placeholder */
input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

/* </input-placeholder */
/**/
/* breadcrumb */
.breadcrumb {
  font-size: 14px;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0; }
.breadcrumb li a {
  color: #3c6ea2; }
.breadcrumb > li + li:before {
  content: '\003E';
  color: #8f8f8f; }

/* </breadcrumb */
/**/
/* slick-arrows */
.slick-arrow {
  position: absolute;
  top: 50%;
  width: 13px;
  height: 25px;
  text-indent: -9999px;
  margin-top: -12px;
  z-index: 5; }

.slick-prev {
  left: -21px;
  background: url(../img/ar-left.png) 50% 50% no-repeat; }

.slick-next {
  right: -21px;
  background: url(../img/ar-right.png) 50% 50% no-repeat; }

/* </slick-arrows */
/**/
/* header*/
header {
  position: relative;
  height: 72px;
  background: #fff;
  background: -webkit-linear-gradient(bottom, rgba(236, 236, 236, 0.5) 0%, white 30%);
  background: linear-gradient(to top, rgba(236, 236, 236, 0.5) 0%, white 30%);
  box-shadow: 0 1px 5px #c5c5c5;
  z-index: 300; }
header .dropdown-wrap {
  position: relative; }
header .dropdown-wrap #delivery.vis {
  top: 100%;
  opacity: 1; }
header .dropdown-wrap #delivery {
  position: absolute;
  width: 800px;
  top: -550px;
  right: 30px;
  color: #878d92;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease; }
header .dropdown-wrap #delivery .crossy {
  top: 24px;
  right: 27px; }
header .dropdown-wrap #delivery .top-part {
  padding: 35px 35px 23px 35px;
  border-bottom: 2px solid #ecf3fa; }
header .dropdown-wrap #delivery .top-part h3 {
  font-size: 17px;
  margin-bottom: 20px; }
header .dropdown-wrap #delivery .top-part .dropdown-search {
  height: 40px;
  padding-left: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin-bottom: 16px;
  box-shadow: 0 2px 2px #e5e5e5; }
header .dropdown-wrap #delivery .top-part .dropdown-search input[type="search"] {
  height: 100%;
  font-family: 'Roboto-Condensed', sans-serif;
  padding-left: 10px;
  padding-right: 20px; }
header .dropdown-wrap #delivery .top-part .dropdown-search input[type="submit"] {
  height: 100%;
  width: 95px;
  color: #000;
  background: #e0e5e6;
  border-radius: 0 8px 8px 0; }
header .dropdown-wrap #delivery .top-part p {
  font-family: 'Roboto-Condensed', sans-serif; }
header .dropdown-wrap #delivery .top-part p span {
  color: #518bbd; }
header .dropdown-wrap #delivery .bottom-part {
  padding: 20px 35px 32px 35px; }
header .dropdown-wrap #delivery .bottom-part .h3-wrap {
  margin-bottom: 16px; }
header .dropdown-wrap #delivery .bottom-part .h3-wrap h3 {
  display: inline-block;
  width: 245px; }
header .dropdown-wrap #delivery .bottom-part .h3-wrap p.region-title {
  display: inline-block;
  font-family: 'Roboto-BoldCondensed', sans-serif;
  padding-left: 22px; }
header .dropdown-wrap #delivery .bottom-part .regions-wrap {
  overflow: hidden;
  height: 160px;
  font-family: 'Roboto-Condensed', sans-serif;
  border-radius: 10px 0 0 10px;
  margin-bottom: 28px; }
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper {
  position: relative;
  width: 245px;
  height: 100%;
  background: #f1f5f6;
  border-radius: 10px 0 0 10px;
  z-index: 1; }
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper .lead {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -20px;
  width: 4px;
  background: #ccd5d7;
  z-index: 2; }
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper .top-padd,
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper .bot-padd {
  position: absolute;
  height: 18px;
  right: 0;
  left: 0;
  background: #f1f5f6; }
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper .top-padd {
  top: 0;
  border-top-left-radius: 10px; }
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper .bot-padd {
  bottom: 0;
  border-bottom-left-radius: 10px; }
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper ul.regions {
  height: 162px;
  padding: 18px 20px 18px 0;
  overflow-y: scroll; }
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper ul.regions li.region {
  color: #518bbd;
  padding: 7px 20px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper ul.regions li.region ul.cities {
  position: absolute;
  overflow: hidden;
  width: 483px;
  height: 160px;
  top: 0;
  left: 245px;
  background: #fcf3e9;
  padding: 18px 13px 16px 13px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  z-index: 5; }
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper ul.regions li.region ul.cities li a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  color: #222426;
  text-overflow: ellipsis;
  padding: 5px 12px;
  border-radius: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper ul.regions li.region ul.cities li a:hover {
  color: #fff;
  background: #518bbd; }
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper ul.regions li.region:hover,
header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper ul.regions li.region.active {
  background: #fff; }
header .dropdown-wrap #delivery .bottom-part p {
  color: #878d92;
  font-family: 'Roboto-Condensed', sans-serif;
  line-height: 22px; }
header .dropdown-wrap #entry.vis {
  top: 100%;
  opacity: 1; }
header .dropdown-wrap #entry,
header .dropdown-wrap #registration,
header .dropdown-wrap #restore {
  position: absolute;
  top: -510px;
  right: 30px;
  width: 380px;
  background: #ececec;
  background: -webkit-linear-gradient(top, white 70%, #ececec 100%);
  background: linear-gradient(to bottom, white 70%, #ececec 100%);
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease; }
header .dropdown-wrap #entry .crossy,
header .dropdown-wrap #registration .crossy,
header .dropdown-wrap #restore .crossy {
  top: 26px;
  right: 27px; }
header .dropdown-wrap #entry .main-part,
header .dropdown-wrap #registration .main-part,
header .dropdown-wrap #restore .main-part {
  padding: 22px 27px; }
header .dropdown-wrap #entry .main-part h2,
header .dropdown-wrap #registration .main-part h2,
header .dropdown-wrap #restore .main-part h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px; }
header .dropdown-wrap #entry .main-part form input[type="text"],
header .dropdown-wrap #entry .main-part form input[type="email"],
header .dropdown-wrap #entry .main-part form input[type="password"],
header .dropdown-wrap #registration .main-part form input[type="text"],
header .dropdown-wrap #registration .main-part form input[type="email"],
header .dropdown-wrap #registration .main-part form input[type="password"],
header .dropdown-wrap #restore .main-part form input[type="text"],
header .dropdown-wrap #restore .main-part form input[type="email"],
header .dropdown-wrap #restore .main-part form input[type="password"] {
  width: 100%;
  height: 35px;
  font-size: 16px;
  font-family: 'Roboto-CondensedItalic', sans-serif;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin-bottom: 18px; }
header .dropdown-wrap #entry .main-part form input[type="text"]:focus,
header .dropdown-wrap #entry .main-part form input[type="email"]:focus,
header .dropdown-wrap #entry .main-part form input[type="password"]:focus,
header .dropdown-wrap #registration .main-part form input[type="text"]:focus,
header .dropdown-wrap #registration .main-part form input[type="email"]:focus,
header .dropdown-wrap #registration .main-part form input[type="password"]:focus,
header .dropdown-wrap #restore .main-part form input[type="text"]:focus,
header .dropdown-wrap #restore .main-part form input[type="email"]:focus,
header .dropdown-wrap #restore .main-part form input[type="password"]:focus {
  font-family: 'Roboto-Condensed', sans-serif;
  border-color: #9bb7d0; }
header .dropdown-wrap #entry .main-part form input[type="text"].error,
header .dropdown-wrap #entry .main-part form input[type="email"].error,
header .dropdown-wrap #entry .main-part form input[type="password"].error,
header .dropdown-wrap #registration .main-part form input[type="text"].error,
header .dropdown-wrap #registration .main-part form input[type="email"].error,
header .dropdown-wrap #registration .main-part form input[type="password"].error,
header .dropdown-wrap #restore .main-part form input[type="text"].error,
header .dropdown-wrap #restore .main-part form input[type="email"].error,
header .dropdown-wrap #restore .main-part form input[type="password"].error {
  color: #ed445b;
  border-color: #ed445b; }
header .dropdown-wrap #entry .main-part form input[type="submit"],
header .dropdown-wrap #entry .main-part form label,
header .dropdown-wrap #registration .main-part form input[type="submit"],
header .dropdown-wrap #registration .main-part form label,
header .dropdown-wrap #restore .main-part form input[type="submit"],
header .dropdown-wrap #restore .main-part form label {
  width: 48%; }
header .dropdown-wrap #entry .main-part form input[type="submit"],
header .dropdown-wrap #registration .main-part form input[type="submit"],
header .dropdown-wrap #restore .main-part form input[type="submit"] {
  height: 35px;
  font-size: 16px;
  box-shadow: none; }
header .dropdown-wrap #entry .main-part form label,
header .dropdown-wrap #registration .main-part form label,
header .dropdown-wrap #restore .main-part form label {
  color: #878d92;
  font-size: 15px;
  font-family: 'Roboto-CondensedItalic', sans-serif;
  cursor: pointer; }
header .dropdown-wrap #entry .main-part p,
header .dropdown-wrap #registration .main-part p,
header .dropdown-wrap #restore .main-part p {
  font-family: 'Roboto-CondensedItalic', sans-serif;
  text-align: center;
  margin-bottom: 15px; }
header .dropdown-wrap #entry .main-part p.error,
header .dropdown-wrap #registration .main-part p.error,
header .dropdown-wrap #restore .main-part p.error {
  color: #ed445b; }
header .dropdown-wrap #entry .link-part,
header .dropdown-wrap #registration .link-part,
header .dropdown-wrap #restore .link-part {
  padding: 0 28px;
  height: 40px;
  border-top: 2px solid #ececec;
  border-bottom: 2px solid #ececec; }
header .dropdown-wrap #entry .link-part span,
header .dropdown-wrap #registration .link-part span,
header .dropdown-wrap #restore .link-part span {
  color: #859aad;
  font-size: 15px;
  cursor: pointer; }
header .dropdown-wrap #entry .social-part,
header .dropdown-wrap #registration .social-part,
header .dropdown-wrap #restore .social-part {
  height: 51px; }
header .dropdown-wrap #entry .social-part a,
header .dropdown-wrap #registration .social-part a,
header .dropdown-wrap #restore .social-part a {
  display: block;
  width: 23px;
  height: 23px;
  margin-left: 3px;
  margin-right: 4px; }
header .dropdown-wrap #registration.vis {
  top: 100%;
  opacity: 1; }
header .dropdown-wrap #registration {
  top: -580px;
  opacity: 1; }
header .dropdown-wrap #registration .main-part form input[type="checkbox"],
header .dropdown-wrap #registration .main-part form label {
  width: 100%; }
header .dropdown-wrap #registration .main-part form label {
  margin-bottom: 8px; }
header .dropdown-wrap #registration .main-part form label a {
  color: #518bbd; }
header .dropdown-wrap #registration .main-part form input[type="submit"] {
  display: block;
  width: 148px;
  margin: 0 auto; }
header .dropdown-wrap #registration .main-part form input[type="submit"].non-active {
  background: #bbccdc; }
header .dropdown-wrap #registration .main-part form .wrap {
  position: relative; }
header .dropdown-wrap #registration .main-part form .wrap #eye {
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer; }
header .dropdown-wrap #registration .link-part {
  height: 51px;
  border-bottom: none; }
header .dropdown-wrap #restore.vis {
  top: 100%;
  opacity: 1; }
header .dropdown-wrap #restore {
  top: -470px;
  opacity: 1; }
header .dropdown-wrap #restore .main-part form input[type="submit"] {
  display: block;
  width: 148px;
  margin: 0 auto; }
header .dropdown-wrap #restore .link-part {
  height: 51px;
  border-bottom: none; }
header .button-wrap {
  display: none;
  -ms-flex-preferred-size: 190px;
  -webkit-flex-basis: 190px;
  flex-basis: 190px;
  padding-left: 15px; }
header .button-wrap button.blue-button {
  height: 32px;
  font-size: 17px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.75); }
header .button-wrap button.blue-button .arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  -webkit-background: linear-gradient(top, rgba(255, 255, 255, 0) 6px, white 6px), linear-gradient(left, rgba(255, 255, 255, 0) 6px, white 6px);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 6px, white 6px), linear-gradient(to right, rgba(255, 255, 255, 0) 6px, white 6px);
  margin-left: 10px;
  vertical-align: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
header .button-wrap button.blue-button .arrow.up {
  vertical-align: -1px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }
header .img-wrap {
  -ms-flex-preferred-size: 285px;
  -webkit-flex-basis: 285px;
  flex-basis: 285px; }
header .right-part .search-button {
  width: 18px;
  height: 18px;
  background: url(../img/search.png) 50% 50% no-repeat;
  cursor: pointer;
  display: none; }
header .right-part .jq-selectbox .jq-selectbox__select {
  font-family: 'Roboto-BoldCondensed', sans-serif;
  font-size: 15px;
  background: none;
  border: none;
  box-shadow: none;
  padding-right: 21px;
  text-shadow: none; }
header .right-part .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
  width: inherit !important; }
header .right-part .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger {
  width: 22px;
  border: none; }
header .right-part .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  width: 6px;
  height: 6px;
  top: 12px;
  right: 8px;
  background: transparent;
  -webkit-background: linear-gradient(top, rgba(135, 141, 146, 0) 4px, #878d92 4px), linear-gradient(left, rgba(135, 141, 146, 0) 4px, #878d92 4px);
  background: linear-gradient(to bottom, rgba(135, 141, 146, 0) 4px, #878d92 4px), linear-gradient(to right, rgba(135, 141, 146, 0) 4px, #878d92 4px);
  border: none;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
header .right-part .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow.up {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }
header .right-part .jq-selectbox .jq-selectbox__dropdown {
  width: 245px;
  font-family: 'Roboto-BoldCondensed', sans-serif;
  font-size: 14px;
  padding: 15px 20px;
  box-shadow: 0 2px 2px #e5e5e5; }
header .right-part .jq-selectbox .jq-selectbox__dropdown ul li {
  color: #878d92;
  padding: 6px 20px;
  border-radius: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }
header .right-part .jq-selectbox .jq-selectbox__dropdown ul li:last-child {
  margin-bottom: 0; }
header .right-part .jq-selectbox .jq-selectbox__dropdown ul li:hover,
header .right-part .jq-selectbox .jq-selectbox__dropdown ul li.selected {
  color: #fff;
  background: #518bbd; }
header .right-part .jq-selectbox.focused .jq-selectbox__select {
  border: none; }
header .right-part .search-group {
  height: 32px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px 10px 10px 0;
  box-shadow: 0 2px 2px #e5e5e5; }
header .right-part .search-group #categories-styler .jq-selectbox__select {
  padding-left: 35px;
  color: #878d92; }
header .right-part .search-group input[type="search"] {
  height: 100%; }
header .right-part .search-group input[type="submit"] {
  width: 95px;
  height: 100%;
  background: #e0e5e6;
  border-radius: 0 8px 8px 0; }
header .right-part .city-choose:before {
  content: '';
  display: inline-block;
  width: 9px;
  height: 13px;
  background: url(../img/pict-1.png) 50% 50% no-repeat;
  margin-right: 9px;
  vertical-align: -1px; }
header .right-part .entry-link .pic,
header .right-part .register-link .pic {
  display: none; }
header .right-part a {
  color: #518bbd;
  margin-left: 20px; }

/* </header*/
/*

*/
/* index */
.wrapper {
  position: relative; }
.wrapper .cover {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: none; }

.main-section {
  background: #e9e9e9;
  background: -webkit-linear-gradient(#e9e9e9 0%, #f4fcf2 180px, white 100%);
  background: linear-gradient(#e9e9e9 0%, #f4fcf2 180px, white 100%);
  padding-top: 22px;
  margin-bottom: 52px; }
.main-section aside {
  -ms-flex-preferred-size: 285px;
  -webkit-flex-basis: 285px;
  flex-basis: 285px;
  position: relative; }
.main-section aside .flag {
  display: none; }
.main-section aside button {
  margin-bottom: 24px; }
.main-section aside button .arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  -webkit-background: linear-gradient(top, rgba(255, 255, 255, 0) 6px, white 6px), linear-gradient(left, rgba(255, 255, 255, 0) 6px, white 6px);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 6px, white 6px), linear-gradient(to right, rgba(255, 255, 255, 0) 6px, white 6px);
  margin-left: 10px;
  vertical-align: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.main-section aside button .arrow.up {
  vertical-align: -1px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }
.main-section aside ul.sb {
  position: relative;
  background: #fff;
  padding: 19px 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 202; }
.main-section aside ul.sb li.cat {
  position: relative;
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: 14px;
  z-index: 201; }
.main-section aside ul.sb li.cat a.a-cat {
  display: block;
  position: relative;
  color: #878d92;
  padding: 11px 40px 11px 25px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }
.main-section aside ul.sb li.cat a.a-cat:hover {
  background: #f1f5f6; }
.main-section aside ul.sb li.cat a.a-cat:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  border: 5px solid transparent;
  border-left-color: #878d92;
  margin-top: -5px; }
.main-section aside ul.sb li.cat .ul-wrap {
  position: absolute;
  overflow: hidden;
  left: 100%;
  top: -19px;
  background: #fff;
  background: -webkit-linear-gradient(left, #eff2f3 1%, white 12%, white 12%);
  background: linear-gradient(to right, #eff2f3 1%, white 12%, white 12%);
  padding: 22px 260px 8px 30px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  z-index: 100;
  display: none; }
.main-section aside ul.sb li.cat .ul-wrap .advert {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center; }
.main-section aside ul.sb li.cat .ul-wrap .advert .img-wrap {
  position: relative;
  width: 288px;
  height: 212px; }
.main-section aside ul.sb li.cat .ul-wrap .advert .img-wrap img {
  width: 100%; }
.main-section aside ul.sb li.cat .ul-wrap .advert .img-wrap .cover {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  background: -webkit-linear-gradient(left, white 0%, white 10%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%), linear-gradient(to top, white 0%, white 20%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, white 0%, white 10%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%), linear-gradient(to top, white 0%, white 20%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
  z-index: 10; }
.main-section aside ul.sb li.cat .ul-wrap .advert p {
  position: relative;
  color: #505050;
  font-size: 17px;
  font-family: 'Roboto-BoldCondensed', sans-serif;
  padding-left: 20px;
  z-index: 12; }
.main-section aside ul.sb li.cat .ul-wrap .advert p.title {
  margin-top: -18px;
  margin-bottom: 10px;
  width: 288px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 56px;
  line-height: 19px;
}
.main-section aside ul.sb li.cat .ul-wrap .cat-items {
  display: inline-block;
}
.main-section aside ul.sb li.cat .ul-wrap > ul {
  margin-right: 20px;
}
.main-section aside ul.sb li.cat .ul-wrap ul li {
  font-size: 16px;
  font-family: 'Roboto-BoldCondensed', sans-serif;
  margin-bottom: 10px; }
.main-section aside ul.sb li.cat .ul-wrap ul li.main-section-no-margin-bottom {
  margin-bottom: 0px;
}
.main-section aside ul.sb li.cat .ul-wrap ul li a {
  display: block;
  color: #518bbd;
  margin-bottom: 6px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }
.main-section aside ul.sb li.cat .ul-wrap ul li a:hover {
  color: #095366; }
.main-section aside ul.sb li.cat .ul-wrap ul li a:hover:after {
  border-left-color: #095366; }
.main-section aside ul.sb li.cat .ul-wrap ul li ul {
  min-width: 190px; }
.main-section aside ul.sb li.cat .ul-wrap ul li ul li {
  font-size: 14px;
  font-family: 'Roboto-Condensed', sans-serif;
  line-height: 1.25;
  margin-bottom: 0; }
.main-section aside ul.sb li.cat .ul-wrap ul li ul li a {
  color: #878d92;
  margin-bottom: 0; }
.main-section aside ul.sb li.cat .ul-wrap ul li ul li a:after {
  content: none; }
.main-section aside ul.sb li.cat:hover .ul-wrap {
  display: block;}
.main-section aside ul.sb li.cat.catalog-img:hover .ul-wrap {
  min-height: 285px;
}
@media (max-width: 767px) {
  .main-section aside ul.sb li.cat.catalog-img:hover .ul-wrap {
    min-height: auto;
  }
}
.main-section aside ul.sb.ordinary {
  position: absolute;
  left: 15px;
  top: 100%;
  right: 15px; }
.main-section .right-part {
  -ms-flex-preferred-size: 855px;
  -webkit-flex-basis: 855px;
  flex-basis: 855px;
  overflow: hidden; }
.main-section .right-part .top-panel {
  -ms-flex-align: start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  height: 62px; }
.main-section .right-part .top-panel .item {
  overflow: hidden;
  max-width: 160px;
  color: #859aad;
  padding-top: 3px; }
.main-section .right-part .top-panel .item img {
  float: left;
  margin-right: 10px; }
.main-section .right-part .top-panel .item p {
  line-height: 20px; }
.main-section .right-part .top-panel .item-a p.tel {
  color: #2e3d4b;
  font-size: 21px;
  margin-bottom: 8px; }
.main-section .right-part .top-panel .item-a a.callback {
  display: block;
  color: #3c6ea2;
  border-bottom: 1px dotted #3c6ea2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }
.main-section .right-part .top-panel .item-a a.callback:hover {
  border-bottom-color: transparent; }
.main-section .right-part .wrapper .slider-wrap .slider {
  margin-bottom: 19px; }
.main-section .right-part .wrapper .slider-wrap .slider .slider-item img {
  width: 100%;
  border: 1px solid #e5e5e5; }
.main-section .right-part .wrapper .slider-wrap .slider .slick-dots {
  position: absolute;
  width: 136px;
  height: 34px;
  left: 0;
  bottom: 0;
  text-align: center;
  background: transparent;
  padding-top: 8px; }
.main-section .right-part .wrapper .slider-wrap .slider .slick-dots li {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: #dce4ec;
  border-radius: 50%;
  margin-left: 6px;
  margin-right: 6px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }
.main-section .right-part .wrapper .slider-wrap .slider .slick-dots li button {
  text-indent: -9999px; }
.main-section .right-part .wrapper .slider-wrap .slider .slick-dots li.slick-active {
  background: #9ab309; }
.main-section .right-part .wrapper .tab-links {
  align-content: space-between;
  max-height: 233px; }
.main-section .right-part .wrapper .tab-links a.tab-link {
  margin-bottom: 20px;
  display: block;
  position: relative;
  width: 189px;
  height: 105px;
  border: 1px solid #e5e5e5; }
.main-section .right-part .wrapper .tab-links a.tab-link img {
  width: 100%;
  height: 103px;
}
.main-section .right-part .wrapper .tab-links a.tab-link .tab-title {
  position: absolute;
  width: 140px;
  bottom: 10px;
  left: 50%;
  color: #3c6ea2;
  text-align: center;
  background: rgba(255, 255, 255, 0.86);
  padding: 7px 6px;
  margin-left: -70px; }
/*.main-section .right-part .wrapper .tab-links a.tab-link:last-child {
display: none; }*/
.main-section .right-part .wrapper .tab-links-flag {
  display: none; }

.main-section.variant {
  margin-bottom: 0; }

.main-section.variant404 {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0; }

.section {
  position: relative;
  margin-bottom: 52px; }
.section h2 {
  font-size: 24px;
  margin-bottom: 20px; }
.section h3 {
  font-size: 16px;
  margin-bottom: 20px; }
.section p.text, .section div.text {
  color: #878d92;
  font-size: 12px;
  font-family: 'Roboto-Condensed', sans-serif;
  line-height: 16px; }
.section .more {
  margin-top: 12px;
  display: none; }
.section .brand-tabs-group {
  margin: -4px; }
.section .brand-tabs-group .brand-tab {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 160px;
  height: 83px;
  border: 1px solid #e5e5e5;
  margin: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14); }
.section .brand-tabs-group .brand-tab img {
  margin: auto; }

/* </index */
/*

*/
/* product-card diffs */

.product-wrap {
  margin-bottom: 25px; }
.product-wrap .product {
  background: #fff;
  padding: 65px 65px 45px 65px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); }
.product-wrap .product .parts {
  margin-bottom: 48px; }
.product-wrap .product .parts .left-part,
.product-wrap .product .parts .right-part {
  -ms-flex-preferred-size: 49.8%;
  -webkit-flex-basis: 49.8%;
  flex-basis: 49.8%; }
.product-wrap .product .parts .left-part {
  padding-right: 15px; }
.product-wrap .product .parts .left-part .img-group {
  height: 100%; }
.product-wrap .product .parts .left-part .img-group .img-wrap {
  width: 474px;
  height: 414px;
  border: 1px solid #e5e5e5;
  margin-bottom: 14px; }
.product-wrap .product .parts .left-part .img-group .img-wrap#prod-img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.product-wrap .product .parts .left-part .img-group .img-wrap#prod-img img {
  background-color: #fff;
}
.product-wrap .product .parts .left-part .img-group .img-wrap a {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
.product-wrap .product .parts .left-part .img-group .img-wrap a img {
  max-width: 100%;
  max-height: 100%;
  margin: auto; }
.product-wrap .product .parts .left-part .img-group .img-row {
  width: 417px;
  height: 80px;
  margin: 0 auto; }
.product-wrap .product .parts .left-part .img-group .img-row a.a-img-wrap {
  width: 125px;
  height: 80px;
  border: 1px solid #e5e5e5;
  margin: 0 7px; }
.product-wrap .product .parts .left-part .img-group .img-row a.a-img-wrap span {
  height: 100%; }
.product-wrap .product .parts .left-part .img-group .img-row a.a-img-wrap span img {
  max-width: 100%;
  max-height: 100%;
  margin: auto; }
.product-wrap .product .parts .right-part {
  padding-left: 15px; }
.product-wrap .product .parts .right-part h2 {
  height: 60px;
  overflow: hidden;
  color: #505050;
  font-size: 24px;
  line-height: 30px;
  margin-top: -5px;
  margin-bottom: 15px; }
.product-wrap .product .parts .right-part .articul-group {
  margin-bottom: 18px; }
.product-wrap .product .parts .right-part .articul-group p {
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: 14px; }
.product-wrap .product .parts .right-part .articul-group p.presence {
  background: #c0ff72;
  padding: 6px 14px 4px 14px; }
.product-wrap .product .parts .right-part .articul-group p.presence:before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 9px;
  background: url(../img/check2.png) 50% 50% no-repeat;
  margin-right: 8px;
  vertical-align: 1px; }
.product-wrap .product .parts .right-part .articul-group p.articul {
  color: #949494;
  padding-top: 2px; }
.product-wrap .product .parts .right-part .price-group {
  margin-bottom: 10px; }
.product-wrap .product .parts .right-part .price-group .price-block {
  -ms-flex-preferred-size: 49.8%;
  -webkit-flex-basis: 49.8%;
  flex-basis: 49.8%;
  height: 70px;
  border: 1px solid #e5e5e5; }
.product-wrap .product .parts .right-part .price-group .price-block .wrap {
  font-family: 'Roboto-Condensed', sans-serif;
  text-align: center;
  margin: auto auto 10px auto; }
.product-wrap .product .parts .right-part .price-group .price-block .wrap p.price {
  color: #518bbd;
  font-size: 34px; }
.product-wrap .product .parts .right-part .price-group .price-block .wrap p.price-trade {
  color: #518bbd; }
.product-wrap .product .parts .right-part .price-group .price-block .wrap p.price-descr {
  font-size: 14px;
  color: #505050; }
.product-wrap .product .parts .right-part .price-group .price-block:last-child {
  border-left-color: transparent; }


.product-wrap .product .parts .right-part .price-group .price-block .price-descr {
  position: relative;
}
.product-wrap .product .parts .right-part .price-group .price-block .question-tooltip {
	display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  width: 27px;
  height: 27px;
  background-image: url(/img/question.svg);
  background-size: cover;
  cursor: pointer;
  display: inline-block;
}
.product-wrap .product .parts .right-part .price-group .price-block .question-tooltip:after {
  display: block;
  position: absolute;
  content: ' ';
  left: 50%;
  transform: translateX(-50%);
  top: 22.5px;
  z-index: 1000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 20px solid #5c7081;
  width: 0;

  opacity: 0;
  transition: 0.60s opacity ease;
}
.product-wrap .product .parts .right-part .price-group .price-block .question-tooltip:hover:after {
  display: block;
  position: absolute;
  content: ' ';
  left: 50%;
  transform: translateX(-50%);
  top: 22.5px;
  z-index: 10000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 20px solid #5c7081;
  transition: 0.4s opacity ease;
  opacity: 1;
}
.ui-tooltip.ui-widget-content {
  border: none;
  background: #5c7081;
  color: #fff;
  box-shadow: none;
  z-index: 10000;
}


.product-wrap .product .parts .right-part a.cond {
  display: block;
  color: #3c6ea2;
  font-size: 14px;
  margin-bottom: 15px; }
.product-wrap .product .parts .right-part .text-group {
  color: #505050;
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: 14px;
  padding: 24px 24px 28px 24px;
  border: 1px solid #e5e5e5; }
.product-wrap .product .parts .right-part .text-group h3 {
  font-family: 'Roboto-BoldCondensed', sans-serif;
  font-size: 18px;
  margin-bottom: 14px; }
.product-wrap .product .parts .right-part .text-group h3:before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 15px;
  background: url(../img/pict-7.png) 50% 50% no-repeat;
  margin-right: 10px;
  vertical-align: middle; }
.product-wrap .product .parts .right-part .text-group p {
  margin-bottom: 15px; }
.product-wrap .product .parts .right-part .text-group p span {
  color: #518bbd; }
.product-wrap .product .parts .right-part .text-group p.top {
  margin-bottom: 22px; }
.product-wrap .product .parts .right-part .text-group a.show-ways {
  display: inline-block;
  color: #3c6ea2;
  font-family: 'Roboto-BoldCondensed', sans-serif;
  border-bottom: 1px dotted #3c6ea2; }
.product-wrap .product .paragraph {
  color: #505050;
  margin-bottom: 35px; }
.product-wrap .product .paragraph h2 {
  font-size: 24px;
  margin-bottom: 20px; }
.product-wrap .product .paragraph p {
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 10px; }
.product-wrap .product .paragraph p:last-child {
  margin-bottom: 0; }
.product-wrap .product .paragraph .columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }
.product-wrap .product .paragraph .columns .string {
  -ms-flex-align: start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }
.product-wrap .product .paragraph .columns .string p {
  margin-bottom: 0; }
.product-wrap .product .paragraph .columns .string .points {
  height: 19px;
  background: url(../img/point.png) repeat-x;
  background-position: bottom right;
  margin: 0 5px; }
.product-wrap .product .paragraph .columns .string .charact {
  -ms-flex-preferred-size: 170px;
  -webkit-flex-basis: 170px;
  flex-basis: 170px; }
.product-wrap .product .paragraph:last-child {
  margin-bottom: 0; }




/*img slider*/

.product-wrap .product .img-wrap {
  position: relative;
}

.product-wrap .product .parts .left-part .img-group .img-wrap .img-slide-left,
.product-wrap .product .parts .left-part .img-group .img-wrap .img-slide-right {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  font-size: 50px;
  color: rgba(255,255,255,0.6);
  z-index: 10;
  background: rgba(0,0,0,0.08);
  transition: 0.2s all;
  cursor: pointer;
}

.product-wrap .product .parts .left-part .img-group .img-wrap .img-slide-left:hover,
.product-wrap .product .parts .left-part .img-group .img-wrap .img-slide-right:hover {
  background: rgba(0,0,0,0.3);
  transition: 0.2s all;
}

.product-wrap .product .parts .left-part .img-group .img-wrap .img-slide-left span,
.product-wrap .product .parts .left-part .img-group .img-wrap .img-slide-right span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.product-wrap .product .parts .left-part .img-group .img-wrap .img-slide-left {
  left: 0;
}
.product-wrap .product .parts .left-part .img-group .img-wrap .img-slide-right {
  right: 0;
}

.product-wrap .product .parts .left-part .img-group .img-wrap .img-slide-panel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  cursor: default;
}
.product-wrap .product .parts .left-part .img-group .img-wrap .img-slide-panel span {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin: 0 6px;
  display: inline-block;
  background: rgba(0,0,0,0.15);
  transition: 0.2s all;
  cursor: pointer;
}
.product-wrap .product .parts .left-part .img-group .img-wrap .img-slide-panel span.active {
  background: rgba(0, 0, 0, 0.5);
}
.product-wrap .product .parts .left-part .img-group .img-wrap .img-slide-panel span:not(.active):hover {
  background: rgba(0,0,0,0.3);
  transition: 0.2s all;
}



/* </product-card diffs */
/*

*/
/* search-results diffs */
.search-results {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse; }
.search-results .search-results-flag {
  display: none; }
.search-results .filter-button {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background: #fff;
  padding: 10px 15px;
  border-top: 1px solid #e5e5e5;
  z-index: 505; }
.search-results .filter-button #filter span.cr {
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: 30px;
  display: none; }
.search-results .filter-button.in-cross {
  width: 60px;
  height: 58px;
  left: auto;
  bottom: auto;
  top: 0;
  background: transparent;
  padding: 10px;
  border: none; }
.search-results .filter-button.in-cross #filter span.fi {
  display: none; }
.search-results .filter-button.in-cross #filter span.cr {
  display: inline; }
.search-results .left-part {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%; }
.search-results .left-part .section .filter {
  position: absolute;
  top: 6px;
  right: 0; }
.search-results .left-part .section .filter p {
  color: #878d92; }
.search-results .left-part .section .filter p span.sort-price {
  cursor: pointer; }
.search-results .left-part .section .filter p span.sort-price:after {
  content: '\2193';
  display: inline-block;
  margin-left: 5px;
  vertical-align: 1px; }
.search-results .left-part .section .filter p span.sort-price.up:after {
  content: '\2191'; }
.search-results .right-part {
  -ms-flex-preferred-size: 285px;
  -webkit-flex-basis: 285px;
  flex-basis: 285px;
  overflow: visible;
  margin-bottom: 15px; }
.search-results .right-part .aside {
  display: block;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); }
.search-results .right-part .aside .aside-block {
  color: #878d92;
  font-family: 'Roboto-Condensed', sans-serif;
  padding: 23px;
  border-bottom: 1px solid #e5e5e5; }
.search-results .right-part .aside .aside-block h3 {
  font-size: 18px;
  cursor: pointer; }
.search-results .right-part .aside .aside-block h3:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  -webkit-background: linear-gradient(top, rgba(135, 141, 146, 0) 6px, #878d92 6px), linear-gradient(left, rgba(135, 141, 146, 0) 6px, #878d92 6px);
  background: linear-gradient(to bottom, rgba(135, 141, 146, 0) 6px, #878d92 6px), linear-gradient(to right, rgba(135, 141, 146, 0) 6px, #878d92 6px);
  margin-left: 3px;
  margin-right: 10px;
  vertical-align: 1px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }
.search-results .right-part .aside .aside-block h3.clpsd:before {
  vertical-align: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.search-results .right-part .aside .aside-block .aside-block-cont {
  padding-top: 18px; }
.search-results .right-part .aside .aside-block label {
  display: block;
  font-size: 14px;
  margin-bottom: 13px;
  cursor: pointer; }
.search-results .right-part .aside .aside-block label:last-child {
  margin-bottom: 0; }
.search-results .right-part .aside .aside-block .digit-field-group label {
  margin-bottom: 0; }
.search-results .right-part .aside .aside-block .digit-field-group input[type="text"] {
  width: 60px;
  height: 30px;
  text-align: center;
  padding: 0 10px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin-left: 7px; }
.search-results .right-part .aside .aside-block .crawler-wrap {
  padding-bottom: 20px; }
.search-results .right-part .aside .aside-block .crawler-wrap .noUi-target {
  border: 1px solid #e5e5e5;
  box-shadow: none; }
.search-results .right-part .aside .aside-block .crawler-wrap .noUi-horizontal {
  height: 8px; }
.search-results .right-part .aside .aside-block .crawler-wrap .noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  left: -8px;
  top: -3px;
  background: #518bbd;
  border: none;
  border-radius: 50%; }
.search-results .right-part .aside .aside-block .crawler-wrap .noUi-horizontal .noUi-tooltip {
  width: 36px;
  top: 14px;
  left: -12px;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  border: none; }
.search-results .right-part .aside .aside-block .crawler-wrap .noUi-horizontal .noUi-handle-lower {
  box-shadow: 2px 1px 3px 0 rgba(0, 0, 0, 0.23); }
.search-results .right-part .aside .aside-block .crawler-wrap .noUi-horizontal .noUi-handle-upper {
  box-shadow: -2px 1px 3px 0 rgba(0, 0, 0, 0.23); }
.search-results .right-part .aside .aside-block .crawler-wrap .noUi-horizontal .noUi-handle:before,
.search-results .right-part .aside .aside-block .crawler-wrap .noUi-horizontal .noUi-handle:after {
  content: none; }
.search-results .right-part .aside .aside-block .crawler-wrap .noUi-connect {
  background: #518bbd;
  box-shadow: none; }
.search-results .right-part .aside .aside-block input[type="submit"] {
  width: 100%;
  height: 32px;
  color: #454545;
  font-family: 'Roboto-BoldCondensed', sans-serif;
  background: #e0e5e6;
  border-radius: 10px; }
.search-results .right-part .aside .aside-block.sm {
  padding: 16px 23px; }
.search-results .jq-selectbox {
  width: 100%; }
.search-results .jq-selectbox .jq-selectbox__select {
  color: #878d92;
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: 14px;
  background: #fff;
  padding-left: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  text-shadow: none; }
.search-results .jq-selectbox .jq-selectbox__trigger {
  border: none; }
.search-results .jq-selectbox .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  width: 6px;
  height: 6px;
  top: 11px;
  right: 15px;
  background: transparent;
  -webkit-background: linear-gradient(top, rgba(135, 141, 146, 0) 4px, #878d92 4px), linear-gradient(left, rgba(135, 141, 146, 0) 4px, #878d92 4px);
  background: linear-gradient(to bottom, rgba(135, 141, 146, 0) 4px, #878d92 4px), linear-gradient(to right, rgba(135, 141, 146, 0) 4px, #878d92 4px);
  border: none;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.search-results .jq-selectbox .jq-selectbox__trigger .jq-selectbox__trigger-arrow.up {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }
.search-results .jq-selectbox .jq-selectbox__dropdown {
  font-family: 'Roboto-BoldCondensed', sans-serif;
  font-size: 14px;
  padding: 15px 20px;
  box-shadow: 0 2px 2px #e5e5e5; }
.search-results .jq-selectbox .jq-selectbox__dropdown ul li {
  color: #878d92;
  font-family: 'Roboto-Condensed', sans-serif;
  padding: 6px 20px;
  border-radius: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }
.search-results .jq-selectbox .jq-selectbox__dropdown ul li:last-child {
  margin-bottom: 0; }
.search-results .jq-selectbox .jq-selectbox__dropdown ul li.selected,
.search-results .jq-selectbox .jq-selectbox__dropdown ul li:hover {
  color: #fff;
  background: #518bbd; }

/* </search-results diffs */
/*

*/
/* about & contacts diffs */
.about,
.contacts {
  padding-bottom: 60px; }
.about .left-part,
.contacts .left-part {
  -ms-flex-preferred-size: 285px;
  -webkit-flex-basis: 285px;
  flex-basis: 285px; }
.about .left-part ul.sidemenu,
.contacts .left-part ul.sidemenu {
  background: #fff;
  padding: 40px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); }
.about .left-part ul.sidemenu li,
.contacts .left-part ul.sidemenu li {
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: 16px;
  margin-bottom: 25px; }
.about .left-part ul.sidemenu li a,
.contacts .left-part ul.sidemenu li a {
  color: #3c6ea2; }
.about .left-part ul.sidemenu li:last-child,
.contacts .left-part ul.sidemenu li:last-child {
  margin-bottom: 0; }
.about .right-part .about-content,
.about .right-part .maps,
.contacts .right-part .about-content,
.contacts .right-part .maps {
  color: #505050;
  background: #fff;
  padding: 40px 65px 55px 65px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); }
.about .right-part .about-content h2,
.about .right-part .maps h2,
.contacts .right-part .about-content h2,
.contacts .right-part .maps h2 {
  font-size: 24px;
  margin-bottom: 20px; }
.about .right-part .about-content h3,
.about .right-part .maps h3,
.contacts .right-part .about-content h3,
.contacts .right-part .maps h3 {
  font-size: 16px;
  margin-bottom: 15px; }
.about .right-part .about-content h4,
.about .right-part .maps h4,
.contacts .right-part .about-content h4,
.contacts .right-part .maps h4 {
  font-size: 14px;
  margin-bottom: 15px; }
.about .right-part .about-content .paragraph-group,
.about .right-part .maps .paragraph-group,
.contacts .right-part .about-content .paragraph-group,
.contacts .right-part .maps .paragraph-group {
  overflow: hidden;
  margin-bottom: 25px; }
.about .right-part .about-content .paragraph-group p,
.about .right-part .maps .paragraph-group p,
.contacts .right-part .about-content .paragraph-group p,
.contacts .right-part .maps .paragraph-group p {
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 25px; }
.about .right-part .about-content .paragraph-group p:last-child,
.about .right-part .maps .paragraph-group p:last-child,
.contacts .right-part .about-content .paragraph-group p:last-child,
.contacts .right-part .maps .paragraph-group p:last-child {
  margin-bottom: 0; }
.about .right-part .about-content .paragraph-group .img-wrap,
.about .right-part .maps .paragraph-group .img-wrap,
.contacts .right-part .about-content .paragraph-group .img-wrap,
.contacts .right-part .maps .paragraph-group .img-wrap {
  float: left;
  width: 285px;
  height: 180px;
  margin: 7px 30px 15px 0; }
.about .right-part .about-content .paragraph-group .img-wrap img,
.about .right-part .maps .paragraph-group .img-wrap img,
.contacts .right-part .about-content .paragraph-group .img-wrap img,
.contacts .right-part .maps .paragraph-group .img-wrap img {
  max-width: 100%;
  max-height: 100%;
  margin: auto; }
.about .right-part .about-content .paragraph-group:last-child,
.about .right-part .maps .paragraph-group:last-child,
.contacts .right-part .about-content .paragraph-group:last-child,
.contacts .right-part .maps .paragraph-group:last-child {
  margin-bottom: 0; }
.about .right-part .about-content .map-wrap,
.about .right-part .maps .map-wrap,
.contacts .right-part .about-content .map-wrap,
.contacts .right-part .maps .map-wrap {
  position: relative;
  margin-bottom: 55px; }
.about .right-part .about-content .map-wrap .map,
.about .right-part .maps .map-wrap .map,
.contacts .right-part .about-content .map-wrap .map,
.contacts .right-part .maps .map-wrap .map {
  height: 430px; }
.about .right-part .about-content .map-wrap .contact,
.about .right-part .maps .map-wrap .contact,
.contacts .right-part .about-content .map-wrap .contact,
.contacts .right-part .maps .map-wrap .contact {
  position: absolute;
  width: 255px;
  left: 30px;
  top: 30px;
  bottom: 30px;
  background: rgba(255, 255, 255, 0.9);
  padding: 28px 30px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.14);
  z-index: 5; }
.about .right-part .about-content .map-wrap .contact .contact-group h4,
.about .right-part .maps .map-wrap .contact .contact-group h4,
.contacts .right-part .about-content .map-wrap .contact .contact-group h4,
.contacts .right-part .maps .map-wrap .contact .contact-group h4 {
  font-size: 18px;
  margin-bottom: 10px; }
.about .right-part .about-content .map-wrap .contact .contact-group p,
.about .right-part .maps .map-wrap .contact .contact-group p,
.contacts .right-part .about-content .map-wrap .contact .contact-group p,
.contacts .right-part .maps .map-wrap .contact .contact-group p {
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: 16px;
  line-height: 26px; }
.about .right-part .about-content .map-wrap:last-child,
.about .right-part .maps .map-wrap:last-child,
.contacts .right-part .about-content .map-wrap:last-child,
.contacts .right-part .maps .map-wrap:last-child {
  margin-bottom: 0; }

/* </about & contacts diffs */
/*

*/
/* 404 diffs */
.content404 {
  background: #fff;
  padding: 55px 95px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.14); }
.content404 .left-part,
.content404 .right-part {
  -ms-flex-preferred-size: 49.8%;
  -webkit-flex-basis: 49.8%;
  flex-basis: 49.8%;
  color: #505050;
  text-align: right; }
.content404 .left-part .group404,
.content404 .right-part .group404 {
  width: 380px;
  text-align: center; }
.content404 .left-part h2,
.content404 .right-part h2 {
  font-size: 216px; }
.content404 .left-part h2 span,
.content404 .right-part h2 span {
  color: #518bbd; }
.content404 .left-part h3,
.content404 .right-part h3 {
  font-size: 28px;
  margin-bottom: 15px; }
.content404 .left-part p,
.content404 .right-part p {
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px; }
.content404 .left-part a,
.content404 .right-part a {
  display: block;
  width: 220px;
  height: 46px;
  color: #fff;
  font-size: 16px;
  line-height: 46px;
  margin: 0 auto; }

/* </404 diffs */
/*

*/
/* footer */
footer {
  min-height: 235px;
  background: #5c7081;
  padding: 32px 0; }
footer .ft-block {
  flex-basis: 25%; }
footer .ft-block h3,
footer .ft-block .big-p {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px; }
footer .ft-block .big-p--small-margin {
  margin-bottom: 5px;
}
footer .ft-block h3.var1 {
  margin-bottom: 40px; }
footer .ft-block h3.var2 {
  margin-bottom: 20px; }
footer .ft-block h3.var3 {
  margin-bottom: 13px; }
footer .ft-block h3.var4 {
  margin-bottom: 18px; }
footer .ft-block .small-p {
  color: #a6bece;
  font-family: 'Roboto-Condensed', sans-serif;
  margin-bottom: 8px; }
footer .ft-block ul li {
  font-family: 'Roboto-Condensed', sans-serif;
  margin-bottom: 14px; }
footer .ft-block ul li a {
  color: #a6bece; }
footer .ft-block .pay-group .pay-line {
  margin-bottom: 13px; }
footer .ft-block .pay-group .pay-line .pay-tab {
  width: 98px;
  height: 35px;
  border: 1px solid #728ba0;
  margin-right: 9px; }
footer .ft-block .pay-group .pay-line .pay-tab img {
  margin: auto; }
footer .ft-block .socials {
  margin-bottom: 25px; }
footer .ft-block form input {
  height: 32px;
  color: #607282;
  font-family: 'Roboto-Condensed', sans-serif; }
footer .ft-block form input[type="text"] {
  padding: 0 12px;
  border: none; }
footer .ft-block form input[type="submit"] {
  width: 40px;
  background: url(../img/pict-5.png) 50% 50% no-repeat, #fad02a; }
footer .ft1 .small-p.ph {
  display: none; }

/* </footer */

/*# sourceMappingURL=main.css.map */

.tabs-group .tab img {
  max-width: 223px;
  height: 223px;
  margin-bottom: 10px;
}
.item-price {
  font-family: 'PT Sans', serif;
  font-weight: bold;
}
.tabs-group .tab2 .bottom-part span.news-type {
  margin-left: 18px;
}
.tabs-group .tab2 .bottom-part span.news-date {
  position: absolute;
  right: 18px;
  line-height: 24px;
}
.product-wrap .product .parts .right-part .articul-group p.presence.no-stock {
  background-color: #FCF3E9;
}

.work {
  color: #878d92;
  text-align: right;
}
