$color1: #454545;
$color2: #878d92;
$color3: #859aad;
$color4: #518bbd;
$color5: #e5e5e5;
$color6: #518bbd;
$color7: #3c6ea2;
$color8: #5c7081;
$color9: #ed445b;
$bordercolor: #e5e5e5;

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	
	header {
		.img-wrap {
			display: none;
		}
	}
	
	.main-section {
		aside {
			-ms-flex-preferred-size: 250px;
			-webkit-flex-basis: 250px;
			flex-basis: 250px;
			ul.sb {
				li.cat {
					.ul-wrap {
						-webkit-column-count: 2;
						-moz-column-count: 2;
						column-count: 2;
					}
				}
			}
		}
		.right-part {
			.top-panel {
				.item-a {
					display: none;
				}
			}
			.wrapper {
				.tab-links {
					height: 350px;
					a.tab-link:last-child {
						display: block;
					}
				}
			}
		}
	}
	
	.tabs-group {
		.tab:last-child,
		.tab2:last-child {
			display: none;
		}
	}
	.tabs-group.variant2 {
		.tab {
			width: 256px;
		}
		.tab:last-child {
			display: block;
		}
	}
	
	.section {
		.brand-tabs-group {
			.brand-tab {
				width: 15%;
			}
		}
	}
	
	.product-wrap {
		.product {
			padding: 40px 35px 40px 35px;
			.parts {
				.left-part {
					.img-group {
						.img-wrap {
							width: 404px;
							height: 286px;
						}
						.img-row {
							width: 388px;
							a.a-img-wrap {
								margin: 0 4px;
							}
							.slick-prev {
								left: -15px;
							}
							.slick-next {
								right: -16px;
							}
						}
					}
				}
			}
			.paragraph {
				.columns {
					.string {
						.charact {
							-ms-flex-preferred-size: 140px;
							-webkit-flex-basis: 140px;
							flex-basis: 140px;
						}
					}
				}
			}
		}
	}
	
	.about,
	.contacts {
		.right-part {
			.about-content,
			.maps {
				padding-left: 35px;
				padding-right: 35px;
				.map-wrap {
					.contact {
						width: 214px;
						left: 20px;
						top: 20px;
						bottom: 20px;
						padding: 28px 20px;
					}
				}
			}
		}
	}
	
	.content404 {
		padding: 45px;
	}
	
	footer {
		.wrapper {
			.ft1 {
				.small-p.ph {
					display: block;
				}
				h3.var1 {
					margin-bottom: 8px;
				}
			}
		}
	}
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	
	.top-strip {
		height: auto;
		padding-top: 8px;
		padding-bottom: 8px;
		p {
			font-size: 14px;
			line-height: 1;
			margin-bottom: 5px;
		}
	}
	
	header {
		.right-part {
			.search-group {
				padding-left: 10px;
			}
			#categories-styler {
				display: none !important;
			}
		}
		.dropdown-wrap {
			#delivery {
				width: 690px;
				.bottom-part {
					.h3-wrap {
						h3 {
							width: 215px;
						}
					}
					.regions-wrap {
						.wrapper {
							width: 215px;
							ul.regions {
								li.region {
									ul.cities {
										width: 403px;
										left: 215px;
										font-size: 14px;
										letter-spacing: -0.6px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.main-section {
		aside {
			ul.sb {
				li.cat {
					.ul-wrap {
						padding-right: 30px;
						.advert {
							display: none;
						}
					}
				}
			}
		}
		.right-part {
			.top-panel {
				.item {
					img {
						margin-right: 6px;
					}
					p {
						font-size: 13px;
						padding-right: 8px;
					}
				}
			}
			.wrapper {
				.slider-wrap {
					.slider {
						margin-bottom: 10px;
					}
				}
				.tab-links {
					height: 440px;
					a.tab-link:last-child {
						display: none;
					}
				}
			}
		}
	}

	.section {
		.tabs-group {
			-ms-flex-pack: center;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			.tab:last-child,
			.tab2:last-child {
				display: block;
			}
		}
		.brand-tabs-group {
			-ms-flex-pack: center;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			.brand-tab {
				width: 26%;
			}
		}
	}
	
	.product-wrap {
		.product {
			.parts {
				position: relative;
				display: block;
				.left-part {
					padding-top: 82px;
					padding-right: 0;
					.img-group {
						margin-bottom: 30px;
						.img-wrap {
							margin: 0 auto 20px;
						}
					}
				}
				.right-part {
					padding-left: 0;
					.h2-group {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
					}
					h2 {
						height: 30px;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}
			}
			.paragraph {
				.columns {
					-webkit-column-count: 1;
					-moz-column-count: 1;
					column-count: 1;
				}
			}
		}
	}
	
	.search-results {
		display: block;
		.search-results-flag {
			display: block;
		}
		.filter-button {
			display: block;
			
		}
		.right-part {
			display: none;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: #fff;
			padding: 15px;
			margin-bottom: 0;
			z-index: 500;
			overflow-y: auto;
			form {
				.digit-field-group {
					-ms-flex-pack: start;
					-webkit-box-pack: start;
					-webkit-justify-content: flex-start;
					justify-content: flex-start;
					label:first-child {
						margin-right: 40px;
					}
				}
			}
		}
	}
	.about,
	.contacts {
		display: block;
		.left-part {
			display: none;
		}
	}
	
	.content404 {
		.left-part {
			-ms-flex-preferred-size: 100%;
			-webkit-flex-basis: 100%;
			flex-basis: 100%;
			.group404 {
				width: 100%;
			}
		}
		.right-part {
			display: none;
		}
	}
	
	footer {
		.wrapper {
			-ms-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			-ms-flex-pack: center;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			.ft-block {
				-ms-flex-preferred-size: 235px;
				-webkit-flex-basis: 235px;
				flex-basis: 235px;
				padding-left: 15px;
				margin-bottom: 25px;
			}
			.ft-block:nth-last-child(-n+2) {
				margin-bottom: 0;
			}
			.ft2 {
				padding-left: 40px;
			}
			.ft3 {
				display: none;
			}
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	
	.top-strip {
		display: none;
	}
	
	header {
		.button-wrap {
			display: block;
		}
		
		.right-part {
			.search-group {
				input[type="submit"] {
					width: 70px;
				}
			}
			.links {
				-ms-flex-pack: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				.city-choose:before {
					margin-right: 0;
					vertical-align: -3px;
				}
				.delivery-link {
					span {
						display: none;
					}
				}
				.entry-link,
				.register-link {
					.pic {
						display: block;
					}
					.word {
						display: none;
					}
				}
			}
		}
		.dropdown-wrap {
			#delivery {
				width: 420px;
				top: -950px;
				.top-part {
					h3 {
						width: 320px;
					}
				}
				.bottom-part {
					.h3-wrap {
						h3 {
							width: 142px;
						}
					}
					.regions-wrap {
						height: 320px;
						.wrapper {
							width: 100%;
							.bot-padd {
								bottom: 160px;
							}
							ul.regions {
								li.region {
									ul.cities {
										width: 100%;
										left: 0;
										top: 160px;
									}
								}
							}
						}
					}
				}
			}
			#delivery.vis,
			#entry.vis,
			#registration.vis,
			#restore.vis {
				top: 107%;
			}
		}
	}
	
	.wrapper {
		.cover {
			display: none !important;
		}
	}
	
	.main-section {
		background: -webkit-linear-gradient(#e9e9e9 0%, #f4fcf2 260px, white 100%);
		background: linear-gradient(#e9e9e9 0%, #f4fcf2 260px, white 100%);
		.wrap {
			display: block;
		}
		aside {
			.flag {
				display: block;
			}
			button {
				display: none;
			}
			ul.sb {
				display: none;
				margin-bottom: 15px;
				li.cat {
					a.a-cat:after {
						border-color: transparent;
						border-top-color: $color2;
					}
					.ul-wrap {
						position: static;
						background: #fff;
						padding-left: 15px;
						padding-right: 15px;
						ul {
							li {
								font-size: 15px;
								ul {
									min-width: inherit;
									li {
										font-size: 13px;
										line-height: 1;
										margin-bottom: 4px;
									}
								}
							}
						}
					}
				}
				li.cat:hover {
					.ul-wrap {
						display: none;
					}
				}
			}
			ul.sb.ordinary {
				position: static;
			}
		}
		.right-part {
			.top-panel {
				display: none;
			}
			.wrapper {
				.tab-links {
					display: block;
					height: auto;
					padding-left: 30px;
					padding-right: 30px;
					margin-top: 10px;
					a.tab-link {
						height: auto;
						margin-left: 5px;
						margin-right: 5px;
					}
					a.tab-link:last-child {
						display: block;
					}
					.slick-prev {
						left: 7px;
					}
					.slick-next {
						right: 7px;
					}
				}
				.tab-links-flag {
					display: block;
				}
			}
		}
	}
	
	.section {
		.tabs-group.variant2 {
			-ms-flex-pack: center;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			.tab {
				width: 256px;
			}
		}
		.brand-tabs-group {
			padding-left: 50px;
			padding-right: 50px;
			margin: 0;
			.slick-prev {
				left: 25px;
			}
			.slick-next {
				right: 25px;
			}
			.brand-tab {
				width: 165px;
			}
		}
	}
	.about,
	.contacts {
		.right-part {
			.about-content,
			.maps {
				.map-wrap {
					.contact {
						position: static;
						width: 100%;
						padding-top: 20px;
						padding-bottom: 10px;
						box-shadow: none;
						.contact-group {
							margin-bottom: 15px;
						}
					}
				}
			}
		}
	}
	
	footer {
		min-height: inherit;
		.wrapper {
			.ft-block {
				-ms-flex-preferred-size: 225px;
				-webkit-flex-basis: 225px;
				flex-basis: 225px;
			}
			.ft1 {
				p.ph {
					display: block;
				}
			}
			.ft4 {
				display: none;
			}
		}
	}
	footer.pb60 {
		padding-bottom: 60px;
	}
	
}


/* Custom */
@media only screen and (max-width : 639px) {
	
	header {
		.right-part {
			-ms-flex-pack: end;
			-webkit-box-pack: end;
			-webkit-justify-content: flex-end;
			justify-content: flex-end;
			.search-button {
				display: block;
			}
			.search-group {
				position: absolute;
				top: -100%;
				left: 15px;
				right: 15px;
				border-radius: 10px;
				box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
				transition: top 0.6s ease;
			}
			.search-group.drp-down {
				top: 65px;
			}
		}
	}
	
	.product-wrap {
		.product {
			.parts {
				.left-part {
					padding-top: 112px;
				}
				.right-part {
					h2 {
						height: 60px;
						white-space: normal;
					}
				}
			}
		}
	}
	
	.content404 {
		padding: 30px;
	}
			
	
}

/* Custom */
@media only screen and (max-width : 575px) {
	
	.section {
		.brand-tabs-group {
			.brand-tab {
				width: 122px;
			}
		}
	}
	
	.product-wrap {
		.product {
			padding: 20px;
			.parts {
				.left-part {
					.img-group {
						.img-wrap {
							width: 378px;
							height: 268px;
						}
						.img-row {
							width: 378px;
							a.a-img-wrap {
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
	
	.about,
	.contacts {
		.right-part {
			.about-content,
			.maps {
				.paragraph-group {
					.img-wrap {
						float: none;
						width: 100%;
						max-width: 285px;
						margin: 0 0 15px 0;
					}
				}
			}
		}
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
	
	.container {
		padding: 0;
	}
	
	.tabs-group {
		margin-left: 0;
		margin-right: 0;
	}

	header {
		.right-part {
			.search-group {
				padding-left: 15px;
			}
		}
		.dropdown-wrap {
			#delivery,
			#entry,
			#registration,
			#restore {
				width: 290px;
				right: 15px;
			}
			#delivery {
				.top-part {
					padding: 20px;
					border: none;
					.dropdown-search {
						input[type="search"] {
							padding-left: 0;
						}
					}
					h3 {
						width: 215px;
					}
					form {
						input[type="search"] {
							-ms-flex-positive: 0;
							-webkit-box-flex: 0;
							-webkit-flex-grow: 0;
							flex-grow: 0;
						}
					}
				}
				.bottom-part {
					display: none;
				}
			}
			#entry,
			#registration,
			#restore {
				.main-part {
					h2 {
						font-size: 22px;
					}
					form {
						.wrap {
							display: block;
							label {
								width: 100%;
								margin-bottom: 18px;
							}
							input[type="submit"] {
								width: 100%;
							}
						}
						label[for="agree"] {
							display: block;
							font-size: 11px;
						}
					}
				}
			}
		}
	}
	#categories {
		display: none;
	}
	
	.main-section {
		.right-part {
			.wrapper {
				.tab-links {
					padding-left: 50px;
					padding-right: 50px;
				}
			}
		}
	}
	
	.section {
		.tabs-group,
		.tabs-group.variant2 {
			.tab,
			.tab2 {
				width: 256px;
			}
		}
		.brand-tabs-group {
			.brand-tab {
				width: 136px;
			}
		}
	}
	
	.product-wrap {
		.product {
			.parts {
				.left-part {
					padding-top: 138px;
					.img-group {
						.img-wrap {
							width: 250px;
							height: 178px;
						}
						.img-row {
							width: 230px;
							height: 70px;
							a.a-img-wrap {
								height: 70px;
								margin: 0 3px;
							}
							.slick-prev {
								left: -21px;
							}
							.slick-next {
								right: -21px;
							}
						}
					}
				}
				.right-part {
					.articul-group {
						display: block;
						p.presence {
							margin-bottom: 10px;
						}
					}
				}
			}
			.paragraph {
				p {
					line-height: 1.5;
				}
				.columns {
					.string {
						p {
							line-height: 1;
							margin-bottom: 5px;
						}
						.charact-title {
							max-width: 100px;
						}
						.points {
							height: 11px;
						}
						.charact {
							max-width: 80px;
						}
					}
				}
			}
		}
	}
	
	.search-results {
		.left-part {
			.section {
				.filter {
					p {
						span.sorting {
							display: none;
						}
					}
				}
			}
		}
	}
	
	.about,
	.contacts {
		.left-part {
			ul.sidemenu {
				padding: 25px 20px;
			}
		}
		.right-part {
			.about-content,
			.maps {
				padding: 25px 20px;
			}
		}
	}
	
	.content404 {
		.left-part {
			h2 {
				font-size: 140px;
			}
			h3 {
				font-size: 24px;
			}
			p {
				font-size: 14px;
			}
		}
	}
	
	footer {
		.wrapper {
			.ft-block {
				-ms-flex-preferred-size: 240px;
				-webkit-flex-basis: 240px;
				flex-basis: 240px;
			}
			.ft1 {
				padding-left: 40px;
			}
			.ft2 {
				margin-bottom: 0;
			}
		}
	}
	
}


/* Custom */
@media only screen and (max-width : 359px) {
	
	header {
		.button-wrap {
			-ms-flex-preferred-size: 160px;
			-webkit-flex-basis: 160px;
			flex-basis: 160px;
			button.blue-button {
				font-size: 15px;
			}
		}
		.right-part {
			.links {
				a {
					margin-left: 15px;
				}
			}
		}
	}
		
	.main-section {
		.right-part {
			.top-panel {
				.item-a {
					p.tel {
						display: block;
						margin-right: 0;
					}
				}
			}
		}
	}
	
	.section {
		.brand-tabs-group {
			.brand-tab {
				width: 128px;
			}
		}
	}
	
}


/**/
@media only screen and (min-width : 768px) {

	.main-section {
		aside {
			ul.sb.special {
				display: block !important;
			}
			ul.sb.ordinary {
				display: none;
			}
		}
	}
	
}



