/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  header .img-wrap {
    display: none; }

  .main-section aside {
    -ms-flex-preferred-size: 250px;
    -webkit-flex-basis: 250px;
    flex-basis: 250px; }
  .main-section aside ul.sb li.cat .ul-wrap {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
  .main-section .right-part .top-panel .item-a {
    display: none; }
  .main-section .right-part .wrapper .tab-links {
    height: 350px; }
  .main-section .right-part .wrapper .tab-links a.tab-link:last-child {
    display: block; }

  .tabs-group .tab:last-child,
  .tabs-group .tab2:last-child {
    display: none; }

  .section .brand-tabs-group .brand-tab {
    width: 15%; }

  .product-wrap .product {
    padding: 40px 35px 40px 35px; }
  .product-wrap .product .parts .left-part .img-group .img-wrap {
    width: 404px;
    height: 286px; }
  .product-wrap .product .parts .left-part .img-group.one-img-group .img-wrap {
    height: 100%;
    margin: 0 auto;
  }
  .product-wrap .product .parts .left-part .img-group.one-img-group .slick-slider {
    display: none;
  }
  .product-wrap .product .parts .left-part .img-group .img-row {
    width: 388px; }
  .product-wrap .product .parts .left-part .img-group .img-row a.a-img-wrap {
    margin: 0 4px; }
  .product-wrap .product .parts .left-part .img-group .img-row .slick-prev {
    left: -15px; }
  .product-wrap .product .parts .left-part .img-group .img-row .slick-next {
    right: -16px; }
  .product-wrap .product .paragraph .columns .string .charact {
    -ms-flex-preferred-size: 140px;
    -webkit-flex-basis: 140px;
    flex-basis: 140px; }

  .about .right-part .about-content,
  .about .right-part .maps,
  .contacts .right-part .about-content,
  .contacts .right-part .maps {
    padding-left: 35px;
    padding-right: 35px; }
  .about .right-part .about-content .map-wrap .contact,
  .about .right-part .maps .map-wrap .contact,
  .contacts .right-part .about-content .map-wrap .contact,
  .contacts .right-part .maps .map-wrap .contact {
    width: 214px;
    left: 20px;
    top: 20px;
    bottom: 20px;
    padding: 28px 20px; }

  .content404 {
    padding: 45px; }

  footer .wrapper .ft1 .small-p.ph {
    display: block; }
  footer .wrapper .ft1 h3.var1 {
    margin-bottom: 8px; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .top-strip {
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px; }
  .top-strip p {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 5px; }

  header .right-part .search-group {
    padding-left: 10px; }
  header .right-part #categories-styler {
    display: none !important; }
  header .dropdown-wrap #delivery {
    width: 690px; }
  header .dropdown-wrap #delivery .bottom-part .h3-wrap h3 {
    width: 215px; }
  header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper {
    width: 215px; }
  header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper ul.regions li.region ul.cities {
    width: 403px;
    left: 215px;
    font-size: 14px;
    letter-spacing: -0.6px; }

  .main-section aside ul.sb li.cat .ul-wrap {
    padding-right: 30px; }
  .main-section aside ul.sb li.cat .ul-wrap .advert {
    display: none; }
  .main-section .right-part .top-panel .item img {
    margin-right: 6px; }
  .main-section .right-part .top-panel .item p {
    font-size: 13px;
    padding-right: 8px; }
  .main-section .right-part .wrapper .slider-wrap .slider {
    margin-bottom: 10px; }
  .main-section .right-part .wrapper .tab-links {
    height: 440px; }
  .main-section .right-part .wrapper .tab-links a.tab-link:last-child {
    display: none; }

  .section .tabs-group {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }
  .section .tabs-group .tab:last-child,
  .section .tabs-group .tab2:last-child {
    display: block; }
  .section .brand-tabs-group {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }
  .section .brand-tabs-group .brand-tab {
    width: 26%; }

  .product-wrap .product .parts {
    position: relative;
    display: block; }
  .product-wrap .product .parts .left-part {
    padding-top: 82px;
    padding-right: 0; }
  .product-wrap .product .parts .left-part .img-group {
    margin-bottom: 30px; }
  .product-wrap .product .parts .left-part .img-group .img-wrap {
    margin: 0 auto 20px; }
  .product-wrap .product .parts .left-part .img-group.one-img-group .img-wrap {
    height: 286px;
  }
  .product-wrap .product .parts .right-part {
    padding-left: 0; }
  .product-wrap .product .parts .right-part .h2-group {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .product-wrap .product .parts .right-part h2 {
    height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .product-wrap .product .paragraph .columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }

  .search-results {
    display: block; }
  .search-results .search-results-flag {
    display: block; }
  .search-results .filter-button {
    display: block; }
  .search-results .right-part {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    padding: 15px;
    margin-bottom: 0;
    z-index: 500;
    overflow-y: auto; }
  .search-results .right-part form .digit-field-group {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }
  .search-results .right-part form .digit-field-group label:first-child {
    margin-right: 40px; }

  .about,
  .contacts {
    display: block; }
  .about .left-part,
  .contacts .left-part {
    display: none; }

  .content404 .left-part {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%; }
  .content404 .left-part .group404 {
    width: 100%; }
  .content404 .right-part {
    display: none; }

  footer .wrapper {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }
  footer .wrapper .ft-block {
    -ms-flex-preferred-size: 235px;
    -webkit-flex-basis: 235px;
    flex-basis: 235px;
    padding-left: 15px;
    margin-bottom: 25px; }
  footer .wrapper .ft-block:nth-last-child(-n+2) {
    margin-bottom: 0; }
  footer .wrapper .ft2 {
    padding-left: 40px; }
  footer .wrapper .ft3 {
    display: none; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .top-strip {
    display: none; }

  header .button-wrap {
    display: block; }
  header .right-part .search-group input[type="submit"] {
    width: 70px; }
  header .right-part .links {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }
  header .right-part .links .city-choose:before {
    margin-right: 0;
    vertical-align: -3px; }
  header .right-part .links .delivery-link span {
    display: none; }
  header .right-part .links .entry-link .pic,
  header .right-part .links .register-link .pic {
    display: block; }
  header .right-part .links .entry-link .word,
  header .right-part .links .register-link .word {
    display: none; }
  header .dropdown-wrap #delivery {
    width: 420px;
    top: -950px; }
  header .dropdown-wrap #delivery .top-part h3 {
    width: 320px; }
  header .dropdown-wrap #delivery .bottom-part .h3-wrap h3 {
    width: 142px; }
  header .dropdown-wrap #delivery .bottom-part .regions-wrap {
    height: 320px; }
  header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper {
    width: 100%; }
  header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper .bot-padd {
    bottom: 160px; }
  header .dropdown-wrap #delivery .bottom-part .regions-wrap .wrapper ul.regions li.region ul.cities {
    width: 100%;
    left: 0;
    top: 160px; }
  header .dropdown-wrap #delivery.vis,
  header .dropdown-wrap #entry.vis,
  header .dropdown-wrap #registration.vis,
  header .dropdown-wrap #restore.vis {
    top: 107%; }

  .wrapper .cover {
    display: none !important; }

  .main-section {
    background: -webkit-linear-gradient(#e9e9e9 0%, #f4fcf2 260px, white 100%);
    background: linear-gradient(#e9e9e9 0%, #f4fcf2 260px, white 100%); }
  .main-section .wrap {
    display: block; }
  .main-section aside .flag {
    display: block; }
  .main-section aside button {
    display: none; }
  .main-section aside ul.sb {
    display: none;
    margin-bottom: 15px; }
  .main-section aside ul.sb li.cat a.a-cat:after {
    border-color: transparent;
    border-top-color: #878d92; }
  .main-section aside ul.sb li.cat .ul-wrap {
    position: static;
    background: #fff;
    padding-left: 15px;
    padding-right: 15px; }
  .main-section aside ul.sb li.cat .ul-wrap ul li {
    font-size: 15px; }
  .main-section aside ul.sb li.cat .ul-wrap ul li ul {
    min-width: inherit; }
  .main-section aside ul.sb li.cat .ul-wrap ul li ul li {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 4px; }
  .main-section aside ul.sb li.cat:hover .ul-wrap {
    display: none; }
  .main-section aside ul.sb.ordinary {
    position: static; }
  .main-section .right-part .top-panel {
    display: none; }
  .main-section .right-part .wrapper .tab-links {
    display: block;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px; }
  .main-section .right-part .wrapper .tab-links a.tab-link {
    height: auto;
    margin-left: 5px;
    margin-right: 5px; }
  .main-section .right-part .wrapper .tab-links a.tab-link:last-child {
    display: block; }
  .main-section .right-part .wrapper .tab-links .slick-prev {
    left: 7px; }
  .main-section .right-part .wrapper .tab-links .slick-next {
    right: 7px; }
  .main-section .right-part .wrapper .tab-links-flag {
    display: block; }

  .section .brand-tabs-group {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0; }
  .section .brand-tabs-group .slick-prev {
    left: 25px; }
  .section .brand-tabs-group .slick-next {
    right: 25px; }
  .section .brand-tabs-group .brand-tab {
    width: 165px; }

  .about .right-part .about-content .map-wrap .contact,
  .about .right-part .maps .map-wrap .contact,
  .contacts .right-part .about-content .map-wrap .contact,
  .contacts .right-part .maps .map-wrap .contact {
    position: static;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: none; }
  .about .right-part .about-content .map-wrap .contact .contact-group,
  .about .right-part .maps .map-wrap .contact .contact-group,
  .contacts .right-part .about-content .map-wrap .contact .contact-group,
  .contacts .right-part .maps .map-wrap .contact .contact-group {
    margin-bottom: 15px; }

  footer {
    min-height: inherit; }
  footer .wrapper .ft-block {
    -ms-flex-preferred-size: 225px;
    -webkit-flex-basis: 225px;
    flex-basis: 225px; }
  footer .wrapper .ft1 p.ph {
    display: block; }
  footer .wrapper .ft4 {
    display: none; }

  footer.pb60 {
    padding-bottom: 60px; } }
/* Custom */
@media only screen and (max-width: 639px) {
  header .right-part {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }
  header .right-part .search-button {
    display: block; }
  header .right-part .search-group {
    position: absolute;
    top: -100%;
    left: 15px;
    right: 15px;
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    transition: top 0.6s ease; }
  header .right-part .search-group.drp-down {
    top: 65px; }

  .product-wrap .product .parts .left-part {
    padding-top: 112px; }
  .product-wrap .product .parts .right-part h2 {
    height: 60px;
    white-space: normal; }

  .content404 {
    padding: 30px; } }
/* Custom */
@media only screen and (max-width: 575px) {
  .section .brand-tabs-group .brand-tab {
    width: 122px; }

  .product-wrap .product {
    padding: 20px; }
  .product-wrap .product .parts .left-part .img-group .img-wrap {
    width: 378px;
    height: 268px; }
  .product-wrap .product .parts .left-part .img-group .img-row {
    width: 378px; }
  .product-wrap .product .parts .left-part .img-group .img-row a.a-img-wrap {
    margin: 0; }

  .about .right-part .about-content .paragraph-group .img-wrap,
  .about .right-part .maps .paragraph-group .img-wrap,
  .contacts .right-part .about-content .paragraph-group .img-wrap,
  .contacts .right-part .maps .paragraph-group .img-wrap {
    float: none;
    width: 100%;
    max-width: 285px;
    margin: 0 0 15px 0; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .container {
    padding: 0; }

  .tabs-group {
    margin-left: 0;
    margin-right: 0; }

  header .right-part .search-group {
    padding-left: 15px; }
  header .dropdown-wrap #delivery,
  header .dropdown-wrap #entry,
  header .dropdown-wrap #registration,
  header .dropdown-wrap #restore {
    width: 290px;
    right: 15px; }
  header .dropdown-wrap #delivery .top-part {
    padding: 20px;
    border: none; }
  header .dropdown-wrap #delivery .top-part .dropdown-search input[type="search"] {
    padding-left: 0; }
  header .dropdown-wrap #delivery .top-part h3 {
    width: 215px; }
  header .dropdown-wrap #delivery .top-part form input[type="search"] {
    -ms-flex-positive: 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0; }
  header .dropdown-wrap #delivery .bottom-part {
    display: none; }
  header .dropdown-wrap #entry .main-part h2,
  header .dropdown-wrap #registration .main-part h2,
  header .dropdown-wrap #restore .main-part h2 {
    font-size: 22px; }
  header .dropdown-wrap #entry .main-part form .wrap,
  header .dropdown-wrap #registration .main-part form .wrap,
  header .dropdown-wrap #restore .main-part form .wrap {
    display: block; }
  header .dropdown-wrap #entry .main-part form .wrap label,
  header .dropdown-wrap #registration .main-part form .wrap label,
  header .dropdown-wrap #restore .main-part form .wrap label {
    width: 100%;
    margin-bottom: 18px; }
  header .dropdown-wrap #entry .main-part form .wrap input[type="submit"],
  header .dropdown-wrap #registration .main-part form .wrap input[type="submit"],
  header .dropdown-wrap #restore .main-part form .wrap input[type="submit"] {
    width: 100%; }
  header .dropdown-wrap #entry .main-part form label[for="agree"],
  header .dropdown-wrap #registration .main-part form label[for="agree"],
  header .dropdown-wrap #restore .main-part form label[for="agree"] {
    display: block;
    font-size: 11px; }

  #categories {
    display: none; }

  .main-section .right-part .wrapper .tab-links {
    padding-left: 50px;
    padding-right: 50px; }

  .section .tabs-group .tab,
  .section .tabs-group .tab2 {
    width: 256px; }
  .section .brand-tabs-group .brand-tab {
    width: 136px; }

  .product-wrap .product .parts .left-part {
    padding-top: 138px; }
  .product-wrap .product .parts .left-part .img-group .img-wrap {
    width: 250px;
    height: 178px; }
  .product-wrap .product .parts .left-part .img-group .img-row {
    width: 230px;
    height: 70px; }
  .product-wrap .product .parts .left-part .img-group .img-row a.a-img-wrap {
    height: 70px;
    margin: 0 3px; }
  .product-wrap .product .parts .left-part .img-group .img-row .slick-prev {
    left: -21px; }
  .product-wrap .product .parts .left-part .img-group .img-row .slick-next {
    right: -21px; }
  .product-wrap .product .parts .right-part .articul-group {
    display: block; }
  .product-wrap .product .parts .right-part .articul-group p.presence {
    margin-bottom: 10px; }
  .product-wrap .product .paragraph p {
    line-height: 1.5; }
  .product-wrap .product .paragraph .columns .string p {
    line-height: 1;
    margin-bottom: 5px; }
  .product-wrap .product .paragraph .columns .string .charact-title {
    max-width: 100px; }
  .product-wrap .product .paragraph .columns .string .points {
    height: 11px; }
  .product-wrap .product .paragraph .columns .string .charact {
    max-width: 80px; }

  .search-results .left-part .section .filter p span.sorting {
    display: none; }

  .about .left-part ul.sidemenu,
  .contacts .left-part ul.sidemenu {
    padding: 25px 20px; }
  .about .right-part .about-content,
  .about .right-part .maps,
  .contacts .right-part .about-content,
  .contacts .right-part .maps {
    padding: 25px 20px; }

  .content404 .left-part h2 {
    font-size: 140px; }
  .content404 .left-part h3 {
    font-size: 24px; }
  .content404 .left-part p {
    font-size: 14px; }

  footer .wrapper .ft-block {
    -ms-flex-preferred-size: 240px;
    -webkit-flex-basis: 240px;
    flex-basis: 240px; }
  footer .wrapper .ft1 {
    padding-left: 40px; }
  footer .wrapper .ft2 {
    margin-bottom: 0; } }
/* Custom */
@media only screen and (max-width: 359px) {
  header .button-wrap {
    -ms-flex-preferred-size: 160px;
    -webkit-flex-basis: 160px;
    flex-basis: 160px; }
  header .button-wrap button.blue-button {
    font-size: 15px; }
  header .right-part .links a {
    margin-left: 15px; }

  .main-section .right-part .top-panel .item-a p.tel {
    display: block;
    margin-right: 0; }

  .section .brand-tabs-group .brand-tab {
    width: 128px; } }
/**/
@media only screen and (min-width: 768px) {
  .main-section aside ul.sb.special {
    display: block !important; }
  .main-section aside ul.sb.ordinary {
    display: none; } }

/*# sourceMappingURL=media-querries.css.map */
